<br />
<h3>Products and Services</h3>
<div class="media-body">    
  KMBA currently offers three main products: Basic Life Insurance Plan or BLIP  Credit Life Insurance Plan or CLIP and Hospital Income Insurance Plan (HIIP). In partnership with Bankers Assurance Corporation, KMBA also offers personal accident insurance with fire assistance or K-Kalinga. As further service to its members, KMBA provides a postemergency residential housing assistance and a scholarship support to members’ children under the Kuya Jun Scholarship Program.                
</div>
<% @products_and_services.each do |e| %>
</article>
<article id="Pages" class="media">
<br>
<section class="subhead">
	<h4><%= e.title %></h4>
</section>
<div class="media-body">
	<%= e.description.html_safe %>
	<%= link_to "View...", products_and_service_path(e.id) %>
</div>
<% end %>
<br />