<br />
<section class="subhead">
	<h4><%= @products_and_service.title %></h4>
</section>
<div class="media-body">
  <%= @products_and_service.description.html_safe %>
</div>
<!-- Button trigger modal -->
<a href="#" data-toggle="modal" data-target="#myModal1">View Details...</a>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="myModalLabel"><%= @products_and_service.title %></h4>
</div>
<div class="modal-body">
	<%= @products_and_service.modal_content.html_safe %>
	<%= image_tag @products_and_service.photo.url, class: "product_service_img" %>
</div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->	    
<br />