<% if !@membership.nil? %>
<div class="eventfeaturecontent">
  <h3>At Glance</h3>
</div>
<div class="row">
  <div class="col-md-12">
    <div class="active-members">  
      <div id="text-10" class="widget widget_text">
        <div class="textwidget">
          <div style="background:#A0522D; height:25px; color:white; text-align:left; font-size:16px; font-style:bold; padding: 3px 3px 3px 5px; border-radius: 2px;">
            Financial Highlights As of <%=@membership.date_updated.strftime("%B")%> <%= @membership.date_updated.strftime("%Y")%>
          </div>
        </div>  
      </div>
      <table class="table table-bordered" width="100%">
        <tbody>
          <tr>
            <td width="450">
              Assets:
            </td>
            <td width="450" align="center">
            <%= @membership.financial_highlights_assets %>
            </td> 
          </tr>
          <tr>
            <td width="450">
              Liabilities:
            </td>
            <td width="450" align="center">
            <%= @membership.financial_highlights_liabilities %>
            </td> 
          </tr>
          <tr>
            <td width="450">
              Fund Balance:
            </td>
            <td width="450" align="center">
            <b><%= @membership.financial_highlights_fund_balance %></b>
            </td> 
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="active-members"> 
      <div id="text-10" class="widget widget_text">
        <div class="textwidget">
          <div style="background:#A0522D; height:25px; color:white; text-align:left; font-size:16px; font-style:bold; padding: 3px 3px 3px 5px; border-radius: 2px;">
            Number of Active Members As of <%=@membership.date_updated.strftime("%B")%> <%= @membership.date_updated.strftime("%Y")%>
          </div>
        </div>  
      </div>
      <table class="table table-bordered" width="100%">
        <tbody>
          <tr>
            <td width="450">
              KCOOP:
            </td>
            <td width="450" align="center">
            <%= @membership.active_member_kcoop %>
            </td> 
          </tr>
          <tr>
            <td width="450">
              Associates:
            </td>
            <td width="450" align="center">
            <%= @membership.active_member_associates %>
            </td> 
          </tr>
          <tr>
            <td width="450" align="right">
              <b>Total:</b>
            </td>
            <td width="450" align="center">
            <b><%= @membership.active_member_total %></b>
            </td> 
          </tr>
          
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="claims-summary">  
      <div id="text-10" class="widget widget_text">
        <div class="textwidget">
          <div style="background:#A0522D; height:25px; color:white; text-align:left; font-size:16px; font-style:bold; padding: 3px 3px 3px 5px; border-radius: 2px;">
            Claims Summary
          </div>
        </div>  
      </div>
      <table class="table table-bordered" width="100%">
        <tbody>
          <tr>
            <td width="450">
              BLIP:
            </td>
            <td width="450" align="center">
            <%= @membership.claims_summary_BLIP %>
            </td> 
          </tr>
          <tr>
            <td width="450">
              CLIP:
            </td>
            <td width="450" align="center">
            <%= @membership.claims_summary_CLIP %>
            </td> 
          </tr>
          <tr>
            <td width="450">
              HIIP:
            </td>
            <td width="450" align="center">
            <%= @membership.claims_summary_HIIP %>
            </td> 
          </tr>
          <tr>
            <td width="450" align="right">
              <b>Total:</b>
            </td>
            <td width="450" align="center">
            <b><%= @membership.claims_summary_total %></b>
            </td> 
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="other-claims-summary">  
      <div id="text-10" class="widget widget_text">
        <div class="textwidget">
          <div style="background:#A0522D; height:25px; color:white; text-align:left; font-size:16px; font-style:bold; padding: 3px 3px 3px 5px; border-radius: 2px;">
            Other Claims Summary
          </div>
        </div>  
      </div>
      <table class="table table-bordered" width="100%">
        <tbody>
          <tr>
            <td width="450">
              K-Bente:
            </td>
            <td width="450" align="center">
            <%= @membership.claims_summary_kbente %>
            </td> 
          </tr>
          <tr>
            <td width="450">
              K-Kalinga:
            </td>
            <td width="450" align="center">
            <%= @membership.kalinga_amount_of_claims %>
            </td> 
          </tr>
          <tr>
            <td width="450">
              Calamity Assistance:
            </td>
            <td width="450" align="center">
            <%= @membership.claims_summary_calamity_assistance %>
            </td> 
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>

<!-- <div class="row">
  <div class="col-md-6">
    <div class="k-kalinga"> 
      <div id="text-10" class="widget widget_text">
        <div class="textwidget">
          <div style="background:#A0522D; height:25px; color:white; text-align:left; font-size:16px; font-style:bold; padding: 3px 3px 3px 3px; border-radius: 2px;">
            K-Kalinga
          </div>
        </div>  
      </div>
      <table class="table table-bordered" width="100%">
        <tbody>
          <tr>
            <td width="190">
              Number of Insured:
            </td>
            <td width="100" align="center">
            <%= @membership.kalinga_number_of_POC_sold %>
            </td> 
          </tr>
          <tr>
            <td width="190">
              Number of Claims:
            </td>
            <td width="100" align="center">
            <%= @membership.kalinga_number_of_claims %>
            </td> 
          </tr>
          <tr>
            <td width="190">
              <b>Amount of Claims:</b>
            </td>
            <td width="100" align="center">
            <b><%= @membership.kalinga_amount_of_claims %></b>
            </td> 
          </tr>

        </tbody>
      </table>
    </div>
  </div>

  <div class="col-md-6">
    <div class="sicat">     
      <div id="text-10" class="widget widget_text">
        <div class="textwidget">
          <div style="background:#A0522D; height:25px; color:white; text-align:left; font-size:16px; font-style:bold; padding: 3px 3px 3px 3px; border-radius: 2px;">
            Sicat
          </div>
        </div>  
      </div>
      <table class="table table-bordered" width="100%">
        <tbody>
          <tr>
            <td width="190">
              Number of Claims:
            </td>
            <td width="100" align="center">
            <%= @membership.sicat_number_of_claims %>
            </td> 
          </tr>
          <tr>
            <td width="190">
              <b>Amount of Claims:</b>
            </td>
            <td width="100" align="center">
            <b><%= @membership.sicat_amount_of_claims %></b>
            </td> 
          </tr>
          
        </tbody>
      </table>
    <% end %>
    </div>
  </div>
</div> -->