<br />
<section class="subhead">
	<h4>Notice of AGM</h4>
</section>
<% @notice_of_agm_disclosures.each do |e| %>
	<div class: "noticeofagmdisclosurecontent">
		<div class="notice_of_agm_disclosure_img">
			<%= image_tag e.photo.url, id: "ef_img"%>
		</div>
		<h5><%= e.title %></h5>
		<p style="font-size: 13px; color:#8b6504; font-style: italic; fon"><%= image_tag("icon_sandclock.png", :style => "float :left; width: 20px; height: 20px;") %><%= e.published_at.strftime("%B %d, %Y") %></p>
		<p>
			<%= raw e.description.truncate(250).html_safe %>	
			<%= link_to "Read more...", notice_of_agm_disclosure_path(e.id) %>
		</p>
	</div>
	<hr />
<% end %>
<%= paginate @notice_of_agm_disclosures %>
