<br />
<section class="subhead">
	<h4>Events and Features</h4>
</section>
<% @events_and_features.each do |e| %>
	<div class: "eventfeaturecontent">
		<div class="event_and_feature_img">
			<%= image_tag e.photo.url, id: "ef_img"%>
		</div>
		<h5><%= e.title %></h5>
		<p style="font-size: 13px; color:#8b6504; font-style: italic; fon"><%= image_tag("icon_sandclock.png", :style => "float :left; width: 20px; height: 20px;") %><%= e.published_at.strftime("%B %d, %Y") %></p>
		<p>
			<%= raw e.description.truncate(250).html_safe  %>
			<%= link_to "Read more...", events_and_feature_path(e.id) %>
		</p>		
	</div>
	<hr />
<% end %>
<%= paginate @events_and_features %>
