<div class="row">
	<div class="col-md-12">
		<div class="eventfeaturecontent">
			<h3><%= @events_and_feature.title %></h3>	
			<p style="font-size: 15px; color:#8b6504; font-style: italic;"><%= image_tag("icon_sandclock.png", :style => "float :left; width: 20px; height: 20px;") %><%= @events_and_feature.published_at.strftime("%B %d, %Y") %></p>	
				<center>
					<%= image_tag @events_and_feature.photo.url, id: "ind_event_and_feature" %>
				</center>				
			<p>
				<%= @events_and_feature.description.html_safe %>
			</p>
		</div>
	</div>
	<div class="col-md-12">
		<section class="subhead">
			<h4>Other Events And Features</h4>
		</section>
		<!-- <details>
  			<summary>Show all other events and features</summary> -->
			<% @events_and_features.each do |e| %>
			<div class: "eventfeaturecontent">
				<p>
					<ul>
						<li>
							<%= link_to e.title, events_and_feature_path(e.id) %>
						</li>
					</ul>
				</p>		
			</div>
			<% end %>
			<!-- <br /> -->
		<!-- </details> -->
		<br />
		<br />
	</div>
</div>