<br />
<section class="subhead">
    <h4>Publications</h4>
</section>
<div class="media-body">
	<div class="row">
		<div class="col-md-12">
			<br />
			 <% @publications.each do |e| %>
				<span>
					<a href=<%= e.file.url %> target="_blank"><%= image_tag e.photo.url, id: "pdf" %>&nbsp;&nbsp;<b><%= e.title %>		
					</a>
				</span>
				<!-- <p style="font-size: 13px; color:#8b6504; font-style: italic; "><%= image_tag("icon_sandclock.png", :style => "float :left; width: 20px; height: 20px;") %><%= e.published_at.strftime("%B %d, %Y") %></p>
				<p> -->
				<hr />
			<% end %>
		</div>
	</div>			
</div>