<br />
<section class="subhead">
    <h4>Articles of Incorporation & By-Laws</h4>
</section>
<div class="media-body">
	<div class="row">
		<div class="col-md-12">
			<br />
			<% count = 1 %>
			 <% @articles.each do |e| %>
					<span>
						<a href=<%= e.file.url %> target="_blank"><%= image_tag("pdf2.png", id: "pdf") %>&nbsp;&nbsp;<b><%= e.file_file_name %></a>	
					</span>
					<br />
					<br />
			<% count = count + 1 %>
			<% end %>
		</div>
	</div>			
</div>