<br />
<section class="subhead">
	<h4>Downloadable Forms</h4>
</section>
<% count = 1 %>
<% @downloadable_forms.each do |e| %>
<article id="Pages" class="media">
	<div class="media-body">
		<p>
			<span style="padding-left:15px;">
				<a href=<%= e.file.url %> target="_blank"><b>00<%= count %>.&nbsp;<%= e.title %></a>
			</span>
			<hr />
		</p>
	</div>
</article>
<% count = count + 1 %>	
<% end %>
<%= paginate @downloadable_forms %>
