<br />
<section class="subhead">
<% if @company_document.category == "ACGS" || @company_document.category == "ACGR" || @company_document.category == "Minutes of Board and Special Meeting" || @company_document.category == "Board Resolution" || @company_document.category == "Annual Report" || @company_document.category == "Board Committees" || @company_document.category == "Board of Trustees" || @company_document.category == "Governance Manual" || @company_document.category == "Minutes of AGM" %>
		<h4><%=@company_document.category%>&nbsp;<%=@company_document.year%></h4>
</section>
<div class="company_documents">
	<p>
		<% @company_document.company_document_files.order("published_date DESC, file_updated_at DESC").each do |e| %>
			<span style="padding-left:5px;">
				<a href=<%= e.file.url %> target="_blank">
					<%= image_tag("pdf2.png", id: "pdf") %><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>
					<%= e.file_file_name %>
				</a>
				<% if !e.published_date.nil? %>	
					<p style="font-size: 13px; color:#8b6504; font-style: italic;">&nbsp;
						<%= image_tag("icon_sandclock.png", :style => "float :left; width: 20px; height: 20px;") %><%= e.published_date.strftime("%B %d, %Y") %>
					</p>
				<% end %>
		 	</span>
		 	<hr />
		<% end %>
	</p>
<section>		
<% elsif @company_document.category == "Policies and Implementing Rules" || @company_document.category == "Code of Conducts and Ethics" || @company_document.category == "Corporate Social Responsibilities" %>
	<h4><%=@company_document.category%></h4>
</section>
	<p>
		<% @company_document.company_document_files.order("published_date DESC, file_updated_at DESC").each do |e| %>
			<span style="padding-left:5px;">
				<a href=<%= e.file.url %> target="_blank">
					<%= image_tag("pdf2.png", id: "pdf") %><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>
					<%= e.file_file_name %>
				</a>
				<% if !e.published_date.nil? %>
					<p style="font-size: 13px; color:#8b6504; font-style: italic;">&nbsp;
						<%= image_tag("icon_sandclock.png", :style => "float :left; width: 20px; height: 20px;") %><%= e.published_date.strftime("%B %d, %Y") %>
					</p>
				<% end %>
			</span>
			<hr />	
		<% end %>
	</p>
<section>
<% else  %>
	<h4><%=@company_document.category%></h4>
</section>
	<p>
		<% @company_document.company_document_files.order("published_date DESC, file_updated_at DESC").each do |e| %>
			<span style="padding-left:5px;">
				<a href=<%= e.file.url %> target="_blank">
					<%= image_tag("pdf2.png", id: "pdf") %><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>
					<%= e.file_file_name %>
				</a>
				<% if !e.published_date.nil? %>
					<p style="font-size: 13px; color:#8b6504; font-style: italic;">&nbsp;
						<%= image_tag("icon_sandclock.png", :style => "float :left; width: 20px; height: 20px;") %><%= e.published_date.strftime("%B %d, %Y") %>
					</p>
				<% end %>
			</span>
			<hr />
		<% end %>
	</p>			
<% end %>
</div>	