<br />
<section class="subhead">
	<h4>Partners and Links</h4>
</section>
<div class="media-body">    
	<% @partners_and_links.each do |e| %>
		<p>
			<%= e.content.html_safe %>
		</p>	
	<% end %>                
</div>