<br />
<section class="subhead">
	<h4>Contact Us</h4>
</section>
	<h4>KASAGANA-KA Mutual Benefit Association, Inc.</h4>                
<section class="col col-md-12">
	<article id="Pages" id="readmore">
		<div class="media">
			<div class="media-body">
				<% @contact_us.each do |e| %>
					<p class="h">
						<b>
							<%= e.street %>							
						</b>
					</p>
					<p class="h">
						<b>
							<%= e.barangay %>	
						</b>
					</p>
					<p class="h">
						<b>
							<%= e.country %>
						</b>
					</p>
					<br />
					<p>
						<b>Tel/Fax: <%= e.contact %></b>
					</p>
					<p>
						<b>Email: <%= e.email %></b>
					</p>
					<br />
				<% end %> 
			</div>
		</div>
	</article>                      
</section>
<h4>Google Map</h4> 
	<div class="mapouter"><div class="gmap_canvas"><iframe width="1080" height="498" id="gmap_canvas" src="https://maps.google.com/maps?q=%235%20Matimpiin%20Street%2C%20Barangay%20Pinyahan%2C%20Quezon%20City%2C%20Philippines&t=&z=17&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://thevpndeal.com/nordvpn-coupon/">nordvpn coupon</a></div><style>.mapouter{position:relative;text-align:right;height:498px;width:1080px;}.gmap_canvas {overflow:hidden;background:none!important;height:498px;width:1080px;}</style>
    </div>
<hr />
<br />
