%br
#accordion.panel-group
  .panel.panel-default
    .panel-heading
      %h4
        %a{"data-parent" => "#accordion", :href => root_path, class: "active" }
          HOME
  .panel.panel-default
    .panel-heading
      %h4
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseOne"}
          ABOUT US
          %span.glyphicon.glyphicon-chevron-right.pull-right  
    #collapseOne.panel-collapse.collapse
      .panel
        %table.table
          %tr
            %td
              %h5
                %a{:href => history_path } History
          %tr
            %td
              %h5
                %a{:href => vision_and_mission_path } Vision & Mission
          %tr
            %td
              %h5
                %a{:href => association_objective_path } Association Objectives      
          %tr
            %td
              %h5
                %a{:href => organizations_path } Organization
          %tr
            %td
              %h5
                %a{:href => memberships_path } Membership
  .panel.panel-default 
    .panel-heading
      %h4
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseTwo"}
          PRODUCTS & SERVICES
          %span.glyphicon.glyphicon-chevron-right.pull-right  
    #collapseTwo.panel-collapse.collapse
      .panel
        %table.table
          - ProductsAndService.all.each do |a|
            %tr
              %td
                %h5
                  = link_to a.title, products_and_service_path(a.id)
  .panel.panel-default
    .panel-heading
      %h4
        %a{"data-parent" => "#accordion", :href => publications_path }
          PUBLICATIONS
  .panel.panel-default
    .panel-heading
      %h4
        %a{"data-parent" => "#accordion", :href => articles_path }
          ARTICLES OF INCORPORATION & BY-LAWS
  .panel.panel-default
    .panel-heading
      %h4
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseThree"}
          DISCLOSURE
          %span.glyphicon.glyphicon-chevron-right.pull-right  
    #collapseThree.panel-collapse.collapse
      .panel
        %table.table
          %tr
            %td
              %h5
                %a{:href => notice_of_agm_disclosures_path } Notice of AGM
          %tr
            %td
              %h5
                %a{:href => notice_of_board_meeting_disclosures_path } Notice of Board Meeting
          %tr
            %td
              %h5
                %a{:href => other_disclosures_path } Other Disclosures
  .panel.panel-default
    .panel-heading
      %h4
        %a{"data-parent" => "#accordion", "data-toggle" => "collapse", :href => "#collapseFour"}
          CORPORATE GOVERNANCE
          %span.glyphicon.glyphicon-chevron-right.pull-right
    #collapseFour.panel-collapse.collapse
      .panel
        %table.table
          - CompanyDocument.where("category = ?", "Governance Manual").each do |a|  
            %tr
              %td
                %h5
                  = link_to "Governance Manual", company_document_path(a.id)
          - CompanyDocument.where("category = ?", "Policies and Implementing Rules").each do |a|
            %tr
              %td
                %h5
                  = link_to "Policies & Implementing Rules", company_document_path(a.id)
          - CompanyDocument.where("category = ?", "Corporate Social Responsibilities").each do |a|
            %tr
              %td
                %h5
                  = link_to "Corporate Social Responsibilities", company_document_path(a.id)        
          %tr
            %td
              %h5
                %a{ "data-toggle" => "collapse", :href => "#collapseThree-One"}
                  ACGR
                  %span.glyphicon.glyphicon-chevron-right.pull-right
                #collapseThree-One.panel-collapse.collapse
                  %table.table
                    - CompanyDocument.where("category = ?", "ACGR").order("year DESC").each do |a|
                      %tr
                        %td
                          %h5
                            = link_to a.year, company_document_path(a.id)
          %tr
            %td
              %h5
                %a{ "data-toggle" => "collapse", :href => "#collapseThree-Two"}
                  ACGS
                  %span.glyphicon.glyphicon-chevron-right.pull-right
                #collapseThree-Two.panel-collapse.collapse
                  %table.table
                    - CompanyDocument.where("category = ?", "ACGS").order("year DESC").each do |a|
                      %tr
                        %td
                          %h5
                            = link_to a.year, company_document_path(a.id)
          - CompanyDocument.where("category = ?", "Code of Conducts and Ethics").each do |a|
            %tr
              %td
                %h5
                  = link_to "Code of Conducts & Ethics", company_document_path(a.id)
          %tr
            %td
              %h5
                %a{ "data-toggle" => "collapse", :href => "#collapseThree-two"}
                  Annual Report
                  %span.glyphicon.glyphicon-chevron-right.pull-right
                #collapseThree-two.panel-collapse.collapse
                  %table.table
                    - CompanyDocument.where("category = ?", "Annual Report").order("year DESC").each do |a|
                      %tr
                        %td
                          %h5
                            = link_to a.year, company_document_path(a.id)
          %tr
            %td
              %h5
                %a{ "data-toggle" => "collapse", :href => "#collapseThree-three"}
                  Minutes of AGM
                  %span.glyphicon.glyphicon-chevron-right.pull-right
                #collapseThree-three.panel-collapse.collapse
                  %table.table
                    - CompanyDocument.where("category = ?", "Minutes of AGM").order("year DESC").each do |a|
                      %tr
                        %td
                          %h5
                            = link_to a.year, company_document_path(a.id)
          %tr
            %td
              %h5
                %a{ "data-toggle" => "collapse", :href => "#collapseThree-four"}
                  Audited Financial Statement
                  %span.glyphicon.glyphicon-chevron-right.pull-right
                #collapseThree-four.panel-collapse.collapse
                  %table.table
                    - CompanyDocument.where("category = ?", "Audited Financial Statement").order("year DESC").each do |a|
                      %tr
                        %td
                          %h5
                            = link_to a.year, company_document_path(a.id)
          %tr
            %td
              %h5
                %a{ "data-toggle" => "collapse", :href => "#collapseThree-five"}
                  Minutes of the Meeting
                  %span.glyphicon.glyphicon-chevron-right.pull-right  
                #collapseThree-five.panel-collapse.collapse
                  %table.table
                    - CompanyDocument.where("category = ?", "Minutes of Board and Special Meeting").order("year DESC").each do |a|
                      %tr
                        %td
                          %h5
                            = link_to a.year, company_document_path(a.id)
          %tr
            %td
              %h5
                %a{"data-toggle" => "collapse", :href => "#collapseThree-six"}
                  Board Resolution
                  %span.glyphicon.glyphicon-chevron-right.pull-right  
                #collapseThree-six.panel-collapse.collapse
                  %table.table
                    - CompanyDocument.where("category = ?", "Board Resolution").order("year DESC").each do |a|
                      %tr
                        %td
                          %h5
                            = link_to a.year, company_document_path(a.id)
          %tr
            %td
              %h5
                %a{ "data-toggle" => "collapse", :href => "#collapseThree-seven"}
                  Board Committees
                  %span.glyphicon.glyphicon-chevron-right.pull-right
                #collapseThree-seven.panel-collapse.collapse
                  %table.table
                    - CompanyDocument.where("category = ?", "Board Committees").order("year DESC").each do |a|
                      %tr
                        %td
                          %h5
                            = link_to a.year, company_document_path(a.id)
          %tr
            %td
              %h5
                %a{ "data-toggle" => "collapse", :href => "#collapseThree-eight"}
                  Board of Trustees
                  %span.glyphicon.glyphicon-chevron-right.pull-right
                #collapseThree-eight.panel-collapse.collapse
                  %table.table
                    - CompanyDocument.where("category = ?", "Board of Trustees").order("year DESC").each do |a|
                      %tr
                        %td
                          %h5
                            = link_to a.year, company_document_path(a.id)
          %tr
            %td
              %h5
                %a{ "data-toggle" => "collapse", :href => "#collapseThree-nine"}
                  Meetings & Seminars
                  %span.glyphicon.glyphicon-chevron-right.pull-right
                #collapseThree-nine.panel-collapse.collapse
                  %table.table
                    - CompanyDocument.where("category = ?", "Meetings and Seminar").order("year DESC").each do |a|
                      %tr
                        %td
                          %h5
                            = link_to a.year, company_document_path(a.id)  
          / %tr
          /   %td
          /     %h5
          /       %a{ "data-toggle" => "collapse", :href => "#collapseThree-eight"}
          /         Corporate Social Responsibility
          /         %span.glyphicon.glyphicon-chevron-right.pull-right
          /       #collapseThree-eight.panel-collapse.collapse
          /         %table.table
          /           %tr
          /             %td
          /               %h5
          /                 %a{:href => ""} SICAT
          /           %tr
          /             %td
          /               %h5
          /                 %a{:href => ""} Scholarship
          /           %tr
          /             %td
          /               %h5
          /                 %a{:href => ""} Donation
  .panel.panel-default 
    .panel-heading
      %h4
        %a{"data-parent" => "#accordion", :href => partners_and_links_path }
          PARTNERS & LINKS
  .panel.panel-default
    .panel-heading
      %h4
        %a{"data-parent" => "#accordion", :href => events_and_features_path }
          EVENTS & FEATURES
  .panel.panel-default  
    .panel-heading
      %h4
        %a{"data-parent" => "#accordion", :href => downloadable_forms_path }
          DOWNLOADABLE FORMS
  .panel.panel-default  
    .panel-heading
      %h4
        %a{"data-parent" => "#accordion", :href => galleries_path }
          GALLERY
  .panel.panel-default  
    .panel-heading
      %h4
        %a{"data-parent" => "#accordion", :href => contact_us_path }
          CONTACT US  
  .panel-heading
    %h4
      FOLLOW US ON:
      %br
      %a{"data-parent" => "#accordion", :href => "https://www.facebook.com/pages/Kasagana-Ka-Mutual-Benefit-Association/469251036526733" }
        = image_tag("fb.ico", class: "ico")
      %a{"data-parent" => "#accordion", :href => "https://twitter.com/kasaganakaMBA" }
        = image_tag("twi.ico", class: "ico")
      %a{"data-parent" => "#accordion", :href => "https://www.youtube.com/channel/UCJDyX_TvYX7uxuTUNgc2klg" }
        = image_tag("yt.ico", class: "ico")  
%br