<br />
<h3>About Us</h3>
<div class="media-body">
	KASAGANA-KA Mutual Benefit Association, Inc. provides affordable insurance products and services to poor women and their families. Organized in 2006, KMBA is one of the organizations forming the KASAGANA-KA Synergizing Organizations (KSO) along with Kabuhayan sa Ganap na Kasarinlan Credit and Savings Cooperative (KCOOP), Kasagana-Ka Development Center Inc. (KDCI) and Kasagana-Ka Employer Employee Provident Fund (KEEPF), whose client-beneficiaries and staff members constitute KMBA’s primary members. Moreover, KMBA offers associate membership to clientbeneficiaries of its partner microfinance organizations and other organized sectors. As of December 2013, KMBA had nearly 25,000 members from among KDCI’s client-beneficiaries and about 10,000 associate members.
</div>
<article id="Pages" class="media">
<br>
<section class="subhead">
	<h4>History</h4>
</section>
<div class="media-body">
	KMBA traces its creation to KDCI (<a href="history_kdci">Read more</a>. . . .), for which it provides various products and services for the latter’s  microinsurance program. KMBA’s initial fund was sourced from a grant from KDCI, which has likewise been contributing its community  resence and center collection infrastructures to KMBA’s field operations. The KDCI grant has enabled KMBA to also offer to children of its primary and associate members the Kuya Jun Scholarship Program (named after Severiano C. Marcelo, Jr., first KDCI executive director, who passed away in 2008).
	<br />
	<br />
	KMBA was registered with the Securities and Exchange Commission in June 2006, and was given a license to operate as a mutual benefit  association by the Insurance Commission in April 2007. It is a nonstock, not-for-profit organization owned and managed by its members. It receives technical assistance from the RIMANSI Organization for Asia and the Pacific, Inc., “a resource center that develops and offers risk management solutions to member-owned micro-insurers, especially Mutual Benefit Associations” (<a href="http://www.rimansi.org">www.rimansi.org</a>).
</div>
<br />
<section class="subhead">
	<h4>Vision and Mission</h4>
</section>
<div class="media-body">
	KMBA envisions a self-reliant and self-sustaining mutual benefit association that actively and appropriately responds to financial risk management needs of poor Filipino families. Toward this end, it offers microinsurance products and services that provide immediate financial assistance in times of dire needs. In addition to its basic life insurance, KMBA makes available microinsurance packages that can broaden the safety net of the poor. It engages in advocacy and networking activities that seek to render further support to its members. Moreover, it continually seeks to develop cost-effective mechanisms for delivering microinsurance to the poor.
</div>
<br />
<section class="subhead">
	<h4>Organization</h4>
</section>
<div class="row">
	<div class="col-md-12">	
		<div class="media-body">
		KMBA has a nine-person Board of Trustees composed of six member-representatives from its various areas of coverage, a staff member of KPF, and two independent members. KMBA’s general manager sits as ex officio member of the Board. With the exception of the independent member, the members of the Board elect from among themselves KMBA’s president, vice-president, treasurer, and secretary. The member-representatives to the Board are elected from among the area coordinators, who are themselves elected from among the chiefs of the centers in each KCOOP satellite offices. As of 2020, KMBA had 28 area coordinators from among KCOOP's 31 satellite offices. A KMBA coordinator is elected in satellite offices with more than 800 client-beneficiaries; KMBA's account officers serve as coordinators in the rest of the satellite offices.<br />
		<br />
		KMBA also has Board of Advisers composed of the President and Chief Executive Officer of KDCI, two client-beneficiaries of KDCI who are also members of its Board of Trustees, and the KMBA president who had ended a preceding term. <br />
		</div>	    
		<br />
		<div class="media-body">
		<% if !@kmba_board_of_trustees.nil? %>
			<h4><%= @kmba_board_of_trustees.title %></h4>
			<%= @kmba_board_of_trustees.description.html_safe %>
			<%= image_tag @kmba_board_of_trustees.photo.url, class: "about_photo"%>
			<br />
			<br />
		<% end %>
		
		<% if !@kmba_board_of_advisers.nil? %>
		<h4><%= @kmba_board_of_advisers.title %></h4>
		<%= @kmba_board_of_advisers.description.html_safe %>
		<%= image_tag @kmba_board_of_advisers.photo.url, class: "about_photo"%>
		<br />
		<br />
		<% end %>

		<% if !@kmba_coordinators.nil? %>
		<h4><%= @kmba_coordinators.title  %></h4>
			<%= @kmba_coordinators.description.html_safe %>
			<%= image_tag @kmba_coordinators.photo.url, class: "about_photo"%>
		<br />
		<br />
		<br />
		<% end %>

		<h4>KMBA Staff</h4>
		<br />
			<table width=100% border=0 cellspacing=0 cellpadding=0>
				<tr>
					<td>
					</td>
					<td align="center" colspan=3>
						<%= image_tag("Silvida.jpg", :alt => "Silvida Reyes-Antiquera", class: "about_staff", :style => "max-width: 160px; max-height: 160px; border:1px solid black;") %>
						<p class="staffTitle gensTitle">
							<strong>
								Silvida Reyes-Antiquera
							</strong>
						</p>
						<p class="staffTitle">
							General Manager
						</p>
						<br />
					</td>
					<td>
					</td>
				</tr>
				<tr>
					<td align="left" valign="middle">
						<%= image_tag("vangie.jpg", :alt => "Evangeline E. Pe", class: "about_staff", :style => "max-width: 160px; max-height: 160px; border:1px solid black;") %>
					</td>
					<td>
						<p class="staffTitle">
							<strong> 
								Evangeline E. Pe
							</strong>
						</p>
						<p class="staffTitle">
							Operations Manager
						</p>
					</td>
					<td>
					</td>
					<td align="right">
						<p class="staffTitle">
							<strong>
								Diobert F. Calanza
							</strong>
						</p>
						<p class="staffTitle">
							Account Officer 	
						</p>
					</td>
					<td align="right">
						<%= image_tag("bert.jpg", :alt => "Diobert F. Calanza", class: "about_staff",  :style => "max-width: 160px; max-height: 160px; border:1px solid black;") %>
					</td>
				</tr>
				<tr>
					<td align="left" valign="middle">
						<%= image_tag("eve.jpg", :alt => "Evelyn A. Lagmay", class: "about_staff",  :style => "max-width: 160px; max-height: 160px; border:1px solid black;") %>
					</td>
					<td>
						<p class="staffTitle">
							<strong>
								Evelyn A. Lagmay
							</strong>
						</p>
						<p class="staffTitle">
							Finance Manager
						</p>
					</td>
					<td>
					</td>
					<td align="right">
						<p class="staffTitle">
							<strong>
								Adrian P. San Andres
							</strong>
						</p>
						<p class="staffTitle">
							Account Officer
						</p>
					</td>
					<td align="right">
						<%= image_tag("ian.jpg", :alt => "Adrian P. San Andres", class: "about_staff",  :style => "max-width: 160px; max-height: 160px; border:1px solid black;") %>
					</td>
				</tr>
				<tr>
					<td align="left" valign="middle">
						<%= image_tag("annalyn.jpg", :alt => "Analyn A. Shih", class: "about_staff",  :style => "max-width: 160px; max-height: 160px; border:1px solid black;") %>
					</td>
					<td>
						<p class="staffTitle">
							<strong>
								Analyn A. Shih
							</strong>
						</p>
						<p class="staffTitle">
							Administrative Officer
						</p>
					</td>
					<td>
					</td>
					<td align="right">
						<p class="staffTitle">
							<strong>
								Richard L. Monteron
							</strong>
						</p>
						<p class="staffTitle">
							Account Officer
						</p>
					</td>
					<td align="right">
						<%= image_tag("chard.jpg", :alt => "Richard L. Monteron", class: "about_staff",  :style => "max-width: 160px; max-height: 160px; border:1px solid black;") %>
					</td>
				</tr>
				<tr>
					<td align="left" valign="middle">
						<%= image_tag("poneve.jpg", :alt => "Jean Grace Poneve V. Almonte", class: "about_staff", :style => "max-width: 160px; max-height: 160px; border:1px solid black;") %>
					</td>
					<td>
						<p class="staffTitle">
							<strong>
								Jean Grace Poneve V. Almonte
							</strong>
						</p>
						<p class="staffTitle">
							Accounting Officer
						</p>
					</td>
					<td>
					</td>
					<td align="right">
						<p class="staffTitle">
							<strong>
								Mcquen R. Abellano
							</strong>
						</p>
						<p class="staffTitle">
							Account Officer
						</p>
					</td>
					<td align="right">
						<%= image_tag("mac.jpg", :alt => "Mcquen R. Abellano", class: "about_staff",  :style => "max-width: 160px; max-height: 160px; border:1px solid black;") %>
					</td>
				</tr>
				<tr>
					<td align="left" valign="middle">
						<%= image_tag("hannah.jpg", :alt => "Hannah Grace S. Bulatao", class: "about_staff",  :style => "max-width: 160px; max-height: 160px; border:1px solid black;") %>
					</td>
					<td>
						<p class="staffTitle">
							<strong>
								Hannah Grace S. Bulatao
							</strong>
						</p>
						<p class="staffTitle">
							MIS Officer
						</p>
					</td>
					<td>
					</td>
					<td align="right">
						<p class="staffTitle">
							<strong>
								Jake C. Villanueva
							</strong>
						</p>
						<p class="staffTitle">
							Account Officer
						</p>
					</td>
					<td align="right">
						<%= image_tag("jake.jpg", :alt => "Jake C. Villanueva", class: "about_staff",  :style => "max-width: 160px; max-height: 160px; border:1px solid black;") %>
					</td>
				</tr>
				<tr>
					<td align="left" valign="middle">
						<%= image_tag("aljon1.jpg", :alt => "Aljon L. Laureano", class: "about_staff",  :style => "max-width: 160px; max-height: 160px; border:1px solid black;") %>
					</td>
					<td>
						<p class="staffTitle">
							<strong>
								Aljon L. Laureano
							</strong>
						</p>
						<p class="staffTitle">
							MIS Officer
						</p>
					</td>
				</tr>
			</table>                      
		</div>
	</div>
</div>		
<br />