<br />
<section class="subhead">
    <h4>Articles of Incorporation & By-Laws</h4>
</section>
<div class="media-body">
	<div class="row">
		<div class="colmd-6">
			 	<a href="/pdf_file/Amended By-Laws.pdf" target="_blank"><%= image_tag("Amended by laws.png", :alt => "Amended by laws", class: "amended_by_laws pull-left") %></a>
		</div>
		<div class="col-md-6">
			 	<a href="/pdf_file/Amended Articles of Incorporation.pdf" target="_blank"><%= image_tag("Amended articles.png", :alt => "Amended by articles", class: "amended_articles pull-right") %></a>
		</div>
	</div>			
</div>
