<br />
<section class="subhead">
	<h4>BLIP</h4>
</section>
<div class="media-body">
  <b>Basic Life Insurance Plan</b> is provided to all client-beneficiaries and staff members of Kasagana-Ka Development Center, Inc. as well as to client-beneficiaries of KMBA partner microfinance institutions and other organized community or basic sector groups. Qualified for embership are those between the ages 18 and 60 years. Membership applicants are required to present their birth certificate (if they are single) or marriage contract (if married) as well as birth certificates of unmarried legitimate children below 21 years old and, if not married and without dependent children, marriage contract of dependent parents (above 60 years old). Members contribute PHP20 weekly: PHP15 for insurance premium and PHP5 for the retirement savings fund. KMBA processes benefit claims using a 1-3-5-day target.
</div>
<!-- Button trigger modal -->
<a href="#" data-toggle="modal" data-target="#myModal">View Details...</a>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="myModalLabel">BLIP</h4>
</div>
<div class="modal-body">
<b>Basic Life Insurance Plan (BLIP)</b> is provided to all client-beneficiaries and staff members of Kasagana-Ka Development Center, Inc. as well as to client-beneficiaries of KMBA partner microfinance institutions and other organized community or basic sector groups<br />
<br />
<b>Qualification for K-MBA Membership</b><br />
<ul><li>Client-beneficiary of KDCI</li><li>Staff member of KDCI or KMBA</li><li>Between 18 and 60 years old</li><li>For associate members: Member of an organized community or basic sector and development organizations</li></ul> <b>Documents Required from Membership Applicants</b><br />
<ul><li>Birth certificate, if single</li><li>Marriage contract, if  married</li><li>Birth certificates of unmarried legitimate children below 21 years old</li><li>If not married and without dependent children, marriage contract of dependent parents (above 60 years old)</li><li>Birth certificate, if single</li></ul><b>Amount of Weekly Contribution</b>PHP20 =<br />
<ul><li>PHP15 for insurance premium and</li><li>PHP5 for the retirement savings fund</li></ul><b>Membership Benefits</b><br />
<ul><li><b>Life insurance with total and permanent disability</b>. This benefit is given upon the death (other than suicide) or permanent disability of a member or the legitimate spouse or children below 21 years old</li> <li><b>Motor vehicle accident and hospitalization benefit</b>. This is given for at least 24-hour hospital confinement due to vehicular accident of a member or the legitimate spouse. Total claims during the entire insurance coverage should not exceed PHP10,000 for both the member and the spouse.</li><li><b>Retirement savings fund</b>. The weekly PHP5 contribution, which earns 2 percent annual interest, will be refunded upon termination of membership.</li><li><b>Refund of insurance premium</b>. After three years of uninterrupted membership, a member is entitled to at least 50 percent of the equity value of the total contribution.<br />
</li></ul><b>KMBA's insurance coverage is terminated upon a member's</b><br />
<ul><li>Resignation</li><li>Disqualification</li><li>Retirement</li><li>Death</li><li>Permanent disability</li><li>Failure to remit contribution after the 31-day grace period</li></ul> <b>Contestability Period</b><ul><li style="list-style: none; padding-left: 2px;">On the first year of membership, KMBA will not pay claims on the death or permanent disability of a legitimate spouse or dependent children, if the cause is due to a pre-existing condition.</li></ul>        <%= image_tag("BLIP_table.png", :alt => "BLIP Table", class: "product_service_img") %>      </div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->	    
<br />