<br />
<section class="subhead">
	<h4>CLIP</h4>
</section>
<div class="media-body">
  The <b>Credit Life Insurance Plan</b> offers to a KMBA partner organization an insurance coverage in which the latter could insure its individual borrowers or debtors for an amount equal to the loan granted, in each particular case up to a maximum of PHP 200,000.
</div>
<!-- Button trigger modal -->
<a href="#" data-toggle="modal" data-target="#myModal1">View Details...</a>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="myModalLabel">CLIP</h4>
</div>
<div class="modal-body">
Under the <b>Credit Life Insurance Plan (CLIP)</b>, KMBA and a partner organization enters into an insurance contract, in which KMBA will issue a Credit Life Insurance Master Policy. The partner organization under this policy may insure its individual borrowers or debtors for an amount equal to the loan granted to them, in each particular case up to a maximum of PHP200,000.<br />
<br />
<b>Eligibility requirements</b>. The loan borrower must be a member of KMBA in order to be eligible for coverage. All new members must be at least 18 years old but not more than 60 years old at the first loan release date while existing members must be at least 18 years old but not more than 65 years old at the loan release date.<br />
<br />
<b>Maximum insurable loan amount for each certificate</b>. The maximum insurable loan amount under CLIP shall not exceed 500 times the daily minimum wage rate of nonagricultural workers in Metro Manila, which is the maximum amount of guaranteed benefits defined in the existing regulatory provisions of microinsurance products. Should there be any amendments to the existing regulatory provision, the maximum insurable loan amount should follow accordingly.<br />
<br />
<b>Maximum premium</b>. The maximum amount of premiums computed on a daily basis shall not exceed 5 percent of the daily minimum wage rate for nonagricultural workers in Metro Manila.<br />
<br />
<b>Benefits</b>. Upon the death or Total and Permanent Disability (TPD) of the Insured DEBTOR, KMBA will pay the loan amount insured during the period of coverage in the following manner:<br />
<br />
<ul><li><p>The amount of benefit should first be applied to the outstanding loan balance of the Insured DEBTOR, excluding interest charges. This amount is payable to the CREDITOR.</p></li><li><p>The remaining balance after deducting from the insured loan amount &mdash;  the amount statedin (1) above &mdash; is payable to the secondary beneficiary or beneficiaries declared in theDebtor's Application for Credit Life Insurance.</p><b>Total and Permanent Disability</b>. Total and permanent disability shall mean disability caused by bodily injury or disease which (1) prevents the member from engaging in any gainful activity, and (2) must continue uninterrupted for at least 6 months. There are two types of TPD coverage:</p></li><ul><li><p><b>Disability with dismemberment</b> - The loss of both arms or both legs, of one arm and one leg, or of both eyes, shall be considered as total and permanent disability. Loss of both arms and both legs shall mean dismemberment by amputation of the entire hand or foot; with respect to eyes, entire and irrecoverable loss of sight.</p></li><li><b>Disability without dismemberment</b> - If a member becomes sick or meets an accident without dismemberment resulting in complete inability to engage in any gainful employment and to become bedridden, he or she can be considered as totally and permanently disabled if after 6 months the health condition has not improved as confirmed by a competent doctor.</li></ul></ul><br />
<b>Primary and Secondary Beneficiaries</b>. In addition to the CREDITOR, who is the primary beneficiary, the secondary beneficiary or beneficiaries under the Master Policy include those declared by the Insured DEBTOR in the Debtor's Application for Credit Life Insurance. The right to change the secondary beneficiary or beneficiaries is reserved to every Insured DEBTOR, who may at any time, designate a new beneficiary. Such request for change must be in writing signed by the Insured DEBTOR and must be submitted to the KMBA main office. When an Insured DEBTOR dies without a designated secondary beneficiary or beneficiaries, the benefits payable thereon shall be awarded to the legal heirs according to existing laws.<br />
<br />
<b>Premiums and Identifiable Charges</b>. Loan borrower or DEBTORS shall be charged an annual premium of PHP14.00 per 1,000 of the original loan amount per year. The amount of premium shall be deducted up front from the loan proceeds. KMBA will review the premium rates on a yearly basis. KMBA reserves the right to change the premium rate at any time it deems appropriate to maintain the funds of the KMBA at a level adequate to meet its benefit obligations or commitments under the plan subject to approval by the Insurance Commission.<br />
<br />
<b>Suicide</b>. KMBA will not be liable in case of suicide by the Insured DEBTOR within 1 year from the effective date of coverage, provided however that suicide while in a state of insanity will be compensable regardless of the date of commission. Whereas suicide is not compensable, KMBA's liability shall be limited to the return of all premiums paid without interest for the account of the Insured DEBTOR.<br />
<br />
<b>Effective Date of Individual Coverage</b>. Credit Life Insurance shall take effect upon the date of loan release by the CREDITOR to the DEBTOR indicated in the loan release form issued by the CREDITOR and the payment of premium. The Insured DEBTOR shall be issued a Certificate of Insurance containing the date of effectivity of coverage, term of coverage, a summary of benefits and excerpts of the Provisions for the DEBTOR upon approval of the application for credit life insurance. An eligible DEBTOR with existing loan as of the effectivity of CLIP shall automatically be covered, provided the fees and dues as herein specified are paid. The term of insurance coverage shall not exceed the term of loan as stated in the loan release form given by the CREDITOR.<br />
<br />
<b>Incontestability</b>. Except for nonpayment of premiums or any grounds recognized by law and jurisprudence, KMBA cannot contest the individual coverage after it has been in force during the lifetime of the insured for 1 year from the Effective Date of Individual Coverage.<br />
<br />
<b>Evidence of Insurability</b>. No medical examination shall be required, only a declaration of good health and insurability. However, KMBA reserves the right to require a DEBTOR to undergo a medical examination if found to be physically impaired through the information obtained by KMBA. The medical examination shall be conducted by a Medical Examiner duly authorized by KMBA. KMBA further reserves the right to decline the DEBTOR's coverage if found uninsurable.<br />
<br />
<b>Termination of Individual Coverage</b>. The insurance coverage shall automatically terminate under the earliest of the following conditions:<br />
<br />
<ul><li>upon the death or TPD of the Insured DEBTOR</li><li>upon the expiration of the term of the loan</li><li>when the Insured DEBTOR reaches age 66</li><li>upon full payment of the loan</li></ul>If the Insured DEBTOR decides to fully pay the outstanding loan balance before the expiration of the term of loan, the unearned portion of the premium net of charges shall be refunded to the Insured DEBTOR.<br />
<br />
Termination of coverage shall be without prejudice to any claim arising prior to such termination.<br />
<br />
<b>Notice and Proof Claim</b>. When an Insured DEBTOR dies or suffered TPD, the CREDITOR shall notify KMBA of such death or TPD, stating the full name and address of the Insured DEBTOR, the cause and date of death or TPD. Notice of claim must be submitted to KMBA within 30 days and proof of claim within 90 days from the date of death or TPD, except when it can be shown that failure to submit the notice and proof within such time is due to valid reasons. Failure to give notice and proof as required will not invalidate or diminish the claim if it is shown not to have been reasonably possible to give such notice or proof and that such was given as soon as it was reasonably possible.<br />
<br />
<b>Claim Settlement</b>. Claim settlement shall be made by KMBA not later than 10 working days upon receipt of complete documents.<br />
<br />
<b>Certificate of Insurance</b>. KMBA will issue to the CREDITOR for delivery to each Insured DEBTOR, a Certificate of Insurance setting forth a summary of the essential features of the insurance coverage and other privileges to which each Insured DEBTOR is entitled. In the event of discrepancy between provisions of such certificate and the Master Policy, the provisions of the latter shall be upheld.<br />
<br />
<b>Nontransferability Clause</b>. The Certificate of Credit Life Insurance coverage is nontransferable.<br />
<br />
<b>Records of the Creditor</b>. The CREDITOR shall make available to KMBA on request any books or records pertaining to the accounts of the Insured DEBTOR. The CREDITOR shall also furnish KMBA with records, data, proofs, or other information which the latter may deem necessary for the proper administration of the Master Policy.<br />
<br />
<b>Termination of Master Policy</b>. The Master Policy shall automatically terminate on the earliest of the following: (1) Date of receipt of a written notice from CREDITOR to terminate the Master Policy; or (2) Date of the KMBA's written notice of termination of the CREDITOR when the number of the DEBTORS falls below the required minimum number.<br />
<br />
<b>Limitation of Complaints</b>. Any complaint or grievance on the Master Policy must be filed with the proper authorities within 2 years from the time of rejection or denial of the claim. The venue for filing of complaints and grievances on the Master Policy must not be limited to the place of issue of the contract.<br />
<br />
<b>Dispute Resolutions</b>. All disputes arising in connection with the Master Policy shall be initially settled through alternative dispute resolution mechanism.              </div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->	    
<br />