<br />
<section class="subhead">
    <h4>Contact Us</h4>
</section>
<hr/>
<h4>KASAGANA-KA Mutual Benefit Association, Inc.</h4>                
	<section class="col col-md-12">
		<article id="Pages" id="readmore">
    		<div class="media">
    			<div class="media-body">
    				<p class="h"><b>5 Don Francisco Street</b></p>
    				<p class="h"><b>Don Enrique Heights</b></p>
    				<p class="h"><b>Barangay Holy Spirit, Quezon City</b></p>
    				<p class="h"><b>Philippines</b></p>
    				<br />
    				<p class="h"><b>Tel/Fax: (63-2) 990-7915</b></p>
    				<p class="h"><b>Email: kasaganaka.mba@gmail.com</b></p>
                    <br /> 
    			</div>
    		</div>
		</article>                      
	</section>
    <h4>Google Map</h4> 
    <div id="map-container">
	   <section class="col col-md-12">                      
             <iframe class="maps" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.google.com/maps?t=m&amp;q=Barangay+Holy+Spirit,+Don+Francisco,+Quezon+City,+Metro+Manila,+Philippines&amp;ie=UTF8&amp;hq=&amp;hnear=Don+Francisco,+Quezon+City,+Kalakhang+Maynila,+Philippines&amp;ll=14.685066,121.081696&amp;spn=0.039853,0.054932&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br />
        </section>
    </div>
    <hr />
    <br />
