<br />
<section class="subhead">
	<h4>KMBA History</h4>
</section>
<div class="media-body">
	<p>
		<%= image_tag("kmba.ico", :alt => "kmba img", id: "kmba_img") %>	
		<%= @history.content.html_safe %>
	</p>
</div>	    
<br />