  <div class="row">
    <div class="col-md-8">
      <div class="index_content">
        <h3>About Us</h3>
        <p>
          <%= image_tag("about.jpg", :alt => "kdci img", class: "index_img") %>
          KASAGANA-KA Mutual Benefit Association, Inc. provides affordable insurance products and services to poor women and their families. Organized in 2006, KMBA is one of the organizations forming the KASAGANA-KA Synergizing Organizations (KSO) along with Kabuhayan sa Ganap na Kasarinlan Credit and Savings Cooperative (KCOOP), Kasagana-Ka Development Center Inc. (KDCI) and Kasagana-Ka Employer Employee Provident Fund (KEEPF), whose client-beneficiaries and staff members constitute KMBA’s primary members. Moreover, KMBA offers associate membership to clientbeneficiaries of its partner microfinance organizations and other organized sectors. <%= link_to "Read more...", about_us_path %>
        </p>
      </div>
      <div class="index_content">
        <h3>Products and Services</h3>
        <p>
        <%= image_tag("product.jpg", :alt => "kdci img", class: "index_img") %>
         KMBA currently offers three main products:
         </p>
         <ul style="list-style-type:none">
          <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;Basic Life Insurance Plan or BLIP</li>
          <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;Credit Life Insurance Plan or CLIP</li>
          <li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&bull;&nbsp;Hospital Income Insurance Plan or CLIP</li>
         </ul>
        <p>
        In partnership with Bankers Assurance Corporation, KMBA also offers personal accident insurance with fire assistance or K-Kalinga. As further service to its members, KMBA provides a postemergency residential housing assistance <%= link_to "Read more...", products_and_services_path %>
        </p>
      </div>
    </div>
    <div class="col-md-4">
      <div class="at_glance" style="float: right;"> 
         <% if !@membership.nil? %>
        <h3>At-A-Glance</h3>
        <div id="text-10" class="widget widget_text">
          <div class="textwidget">
            <div style="background:#A0522D; height:25px; color:white; text-align:center; font-size:16px; font-style:bold; padding: 3px 3px 3px 3px; border-radius: 2px;">
              As of <%=@membership.date_updated.strftime("%B")%> <%= @membership.date_updated.strftime("%Y")%>
            </div>
          </div>  
        </div>
        <table class="table table-bordered" width="100%">
          <tbody>
            <tr>
              <td width="350">
                <b>Assets:</b>
              </td>
              <td width="150" align="right">
               <%= @membership.financial_highlights_assets %>
              </td> 
            </tr>
            
            <tr>
              <td>
                <b>Liabilities:
              </td>
              <td width="150" align="right">
                <%= @membership.financial_highlights_liabilities %>
              </td> 
            </tr>

            <tr>
              <td width="350">
                <b>Fund Balance:</b>
              </td>
              <td width="150" align="right">
               <%= @membership.financial_highlights_fund_balance %>
              </td> 
            </tr>
            
            <tr>
              <td>
                <b>Number of Active Members:
              </td>
              <td width="150" align="right">
                <%= @membership.active_member_total %>
              </td> 
            </tr>
            
            <tr>
              <td>
                <b>Total Claims Summary:
              </td>
               <td width="150" align="right">
                <%= @membership.claims_summary_total %>  
              </td> 
            </tr>
            
            <tr>
              <td>
                <b>K-Kalinga Amount of Claims:
              </td>
               <td width="150" align="right">
                <%= @membership.kalinga_amount_of_claims %>
              </td> 
            </tr>

            <tr>
              <td>
                <b>K-Bente Amount of Claims:
              </td>
               <td width="150" align="right">
                <%= @membership.claims_summary_kbente %>
              </td>
            </tr>
            <tr>
              <td>
                <b>Calamity Assistance Amount of Claims:
              </td>
               <td width="150" align="right">
                <%= @membership.claims_summary_calamity_assistance %>
              </td>
            </tr>  

          </tbody>
        </table> 
        <span style="font-size: 14px; float: right; margin-top: -20px;"> 
          <%= link_to "Read more...", memberships_path %> 
        </span>
        <% end %>
      </div>
      </div>
     
    </div>

    </br>
    
    <div class="col-md-12">
      <div class="index_content">
        <h3>Basic Life Insurance Plan of KMBA<h3>
        <iframe width="780" height="450" src="https://www.youtube-nocookie.com/embed/7pm0XIjhQHw" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
        </iframe>
      </div>  
    </div>

    <div class="col-md-12">
      <div class="index_content">
        <h3>Events and Features<h3>
        <% if !@event_and_feature.nil? %>
          <h4 style="font: 13px; color:#8b6504; margin-left: 13px;"><%= @event_and_feature.title %></h4>
          <p style="font-size: 14px; color:#8b6504; font-style: italic; margin-left: 10px; "><%= image_tag("icon_sandclock.png", :style => "float :left; width: 20px; height: 20px;") %><%= @event_and_feature.published_at.strftime("%B %d, %Y") %></p> 
            <%= image_tag @event_and_feature.photo.url, id: "ind_event_and_feature" %>  
          <p>
            <%= raw @event_and_feature.description.truncate(2500).html_safe  %>
            <%= link_to "Read more...", events_and_feature_path(@event_and_feature.id) %>
          </p>
        <% end %>
        <hr/>
        <h3>Previous Events and Features<h3>
        <% if !@prev_event_and_feature.nil? %>
          <h4 style="font: 13px; color:#8b6504; margin-left: 13px;"><%= @prev_event_and_feature.title %></h4>
          <p style="font-size: 14px; color:#8b6504; font-style: italic; margin-left: 10px; "><%= image_tag("icon_sandclock.png", :style => "float :left; width: 20px; height: 20px;") %><%= @prev_event_and_feature.published_at.strftime("%B %d, %Y") %></p>   
          <p>
            <%= raw @prev_event_and_feature.description.truncate(2500).html_safe  %>
            <%= link_to "Read more...", events_and_feature_path(@prev_event_and_feature.id) %>
          </p>
        <% end %>
        <hr/>
        <% if !@previ_event_and_feature.nil? %>
          <h4 style="font: 13px; color:#8b6504; margin-left: 13px;"><%= @previ_event_and_feature.title %></h4>
          <p style="font-size: 14px; color:#8b6504; font-style: italic; margin-left: 10px; "><%= image_tag("icon_sandclock.png", :style => "float :left; width: 20px; height: 20px;") %><%= @previ_event_and_feature.published_at.strftime("%B %d, %Y") %></p>   
          <p>
            <%= raw @previ_event_and_feature.description.truncate(2500).html_safe  %>
            <%= link_to "Read more...", events_and_feature_path(@previ_event_and_feature.id) %>
          </p>
        <% end %>
      </div>  
    </div>
  </div>
  
  <br/>
