<br />
<section class="subhead">
	<h4>K-Kalinga</h4>
</section>
<div class="media-body">
  Offered in partnership with the Bankers Assurance Corporation, K-Kalinga is a ersonal accident insurance with fire assistance designed specifically also for non-KMBA members. (“Kalinga” is a Pilipino term that can mean embraced, nurturance, or protection.) This product is thus available to KMBA primary and associate members as well as to their relatives and fellow community members who may be in need of insurance coverage.
</div>
<!-- Button trigger modal -->
<a href="#" data-toggle="modal" data-target="#myModal2">View Details...</a>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="myModalLabel">K-Kalinga</h4>
</div>
<div class="modal-body">
<b>K-Kalinga</b> was designed by KMBA and the Bankers Assurance Corporation so that personal accident insurance with fire protection can be offered to a broader public. This product is thus available to KMBA primary and associate members as well as to their relatives and fellow community members who may be in need of insurance coverage. Individuals 18 to 65 years old may avail themselves of this insurance product. <br />
<br />
<b>Amount of Premium</b>. Annual premium is PHP50.00, and available to a maximum of five units per insured individual.<br />
<br />
<b>Benefits</b><br />
<ul><li>Accidental Death - PHP20,000</li><li>Accidental Burial Assistance - PHP 5,000</li><li>Fire Assistance - PHP 5,000</li></ul><b>Claims on Accidental Death</b>. Report to KMBA not later than 30 days after death of insured, and submit the following documents in case of death due to accident:<br />
<ul><li>Original Proof of Cover (POC)</li><li>Registered Death Certificate</li><li>Valid ID of beneficiary</li><li>Other documents that may be required</li></ul><b>Exclusion in Accidental Death</b><br />
<ul><li>By war, invasion, act of foreign enemy, acts of terrorism, hostilities or war-like operations (whether war be declared or not), mutiny, riot, civil commotion, strike, civil war, rebellion, revolution, insurrections, and similar incidents by or under the order of any government or public or local authority</li><li>By any weapon or instrument employing atomic fission, thermonuclear fusion or any form of radiation, whether in time of peace or war</li><li>By intentionally self-inflicted or irresponsible act of the Insured</li><li>By congenital anomalies and conditions arising therefrom</li><li>By medical and surgical treatment except as may be necessary solely as a result of injury</li><li>By pregnancy and resulting childbirth, miscarriage, or abortion</li><li>While under the influence of alcohol or unprescribed drugs</li></ul><b>Claims on Fire</b>. Submit within 30 days a certificate issued by the barangay government attesting that the member-claimant is a resident of the burned house, and containing complete address of the house and cause of fire. The certificate must also be accompanied by a photo of burned house.<br />
<br />
<b>Exclusion in Fire Assistance</b><br />
<ul><li>Arson in own house or the community of the Insured</li><li>Fire occurring within 48 hours after insurance coverage effectivity</li></ul><b>Effectivity Date</b>. K-Kalinga's coverage takes effect 24 hours after payment of POC and for a year thereafter.<br />
<br />
<%= image_tag("K-Kalinga flyer - Front.jpg", :alt => "K-Kalinga flyer - Front", class: "product_service_img") %>      </div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->	    
<br />