<br />
<br />
<div id="text-10" class="widget widget_text">
          <div class="textwidget">
            <div style="background:#009900; height:25px; color:white; text-align:center; font-size:16px; font-style:bold; padding: 3px 3px 3px 3px; border-radius: 2px;">
              Membership as of March 2016
            </div>
          </div>  
        </div>
        <table class="table" width="100%">
          <tbody>
            <tr>
              <td width="700">
                <b>No. of  Active Members:</b>
              </td>
              <td width="300">
               0
              </td> 
            </tr>
            
            <tr>
              <td>
                <b>No. of  Golden Life Members:
              </td>
              <td>
                0
              </td> 
            </tr>
            
            <tr>
              <td>
                <b>No. of Insured Individuals:
              </td>
              <td>
                0  
              </td> 
            </tr>
            
            <tr>
              <td>
                <b>No. of Members Served:
              </td>
              <td>
                0
              </td> 
            </tr>
            
            <tr>
              <td>
                <b>No. of Staff:
              </td>
              <td>
                0
              </td> 
            </tr>
            
            <tr>
              <td>
                <b>Coordinators:
              </td>
              <td>
                0
              </td> 
            </tr>
            
            <tr>
              <td>
                <b>Regional Offices:
              </td>
              <td>
                0
              </td> 
            </tr>
            
            <tr>
              <td>
                <b>Cluster Offices:
              </td>
              <td>
                0
              </td> 
            </tr>
            
            <tr>
              <td>
                <b>Provincial Offices:
              </td>
              <td>
                0
              </td> 
            </tr>
            <tr>
              <td>
                <b>BOAT Partners:
              </td>
              <td>
                0
              </td> 
            </tr>
            
            <tr>
              <td>
                <b>Main Office:
              </td>
              <td>
                0
              </td> 
            </tr>
          </tbody>
        </table>