<br />
<section class="subhead">
	<h4>Organization</h4>
</section><div class="row">
	<div class="col-md-12">	
		<div class="media-body">
		KMBA has a seven-person Board of Trustees composed of five member-representatives from its various areas of coverage, a staff member of KDCI, and an independent member. KMBA’s general manager sits as ex officio member of the Board. With the exception of the independent member, the members of the Board elect from among themselves KMBA’s president, treasurer, and secretary. The member-representatives to the Board are elected annually from among the area coordinators, who are themselves elected from among the chiefs of the centers in each KDCI field office. (As of 2013, KMBA had 15 area coordinators from among KDCI’s 23 field offices. A KMBA coordinator is elected in field offices with more than 1,000 client-beneficiaries; KMBA’s account officers serve as coordinators in the rest of the field offices.<br />
		<br />
		KMBA also has a four-person Board of Advisers composed of the President and Chief Executive Officer of KDCI, two client-beneficiaries of KDCI who are also members of its Board of Trustees, and the KMBA president who had ended a preceding term. <br />
		</div>	    
		<br />
		<div class="media-body">
		<h4>KMBA BOARD OF TRUSTEES</h4>
		Seated from left:  Elizabeth N. Yayon (Marilao field office); Jovita Q. Guevarra (Batasan), treasurer; Perla  F. Batingal, independent member; Chona B. Capayas (Masinag), president; Edelyn Y. Ocampo (Fairview); Standing from left: Judea T. Gutierez (Padilla), treasurer;  Norman J. Los Añes (KDCI), secretary; and Silvida Reyes-Antiquera, KMBA general manager<br /><br />
		<%= image_tag("KMBA BOT.jpg", :alt => "KMBA BOT", class: "about_photo") %>
		<br />
		<br />
		<h4>KMBA BOARD OF ADVISERS</h4>
		From left: Martiniana G. Mancio (former KMBA president), Leticia T. Rodriguez (member, KDCI Board of Trustees), Maria Anna De Rosas-Ignacio (KDCI president and chief executive officer), and (inset) Wenifreda F. Rodriguez (member, KDCI Board of Trustees)
		<br />
		<br />
		<%= image_tag("kmbaorg.JPG", :alt => "kmbaorg", class: "about_photo") %><br />
		<br />
		<h4>KMBA COORDINATORS</h4>
		Seated from left: Jesusa L. Doria (for Masinag field office), Marivic R. Loterte (Bagong Silang), Josefina Y. Torres (San Mateo), Ailene V. Ramos (Sumulong); Standing from left: Judith S. Tandog (Batasan), Lourdes C. Candelario (Novaliches), Ligaya C. Sarmiento (Taytay), Reschelle S. Vega (Marilao), Luzviminda A. Francisco (Montalban), Nelia A. Zamora (outgoing coordinator of Sapang Palay), Rita T.  Dela Cruz (incoming coordinator of Sapang Palay), Lourdes B. Nuarin (Camarin); not in photo, Anita L. Manundo (Tandang Sora) and coordinators to be elected in Padilla and Fairview (to replace those who have been elected to the Board of Trustees)
		<br /><br />
		<%= image_tag("7 KMBA Coordinators.jpg", :alt => "7 KMBA Coordinators", class: "about_photo") %><br />
		<br />
		<h4>KMBA Staff</h4>
		<br />
		<table width=100% border=0 cellspacing=0 cellpadding=0>
			<tr>
				<td>
				</td>
				<td align="center" colspan=3>
					<%= image_tag("silvida.png", :alt => "Silvida Reyes-Antiquera", class: "about_staff") %>
					<p class="staffTitle gensTitle">
						<strong>
							Silvida Reyes-Antiquera
						</strong>
					</p>
					<p class="staffTitle">
						General Manager
					</p>
					<br />
				</td>
				<td>
				</td>
			</tr>
			<tr>
				<td align="left" valign="middle">
					<%= image_tag("vangie.png", :alt => "Evangeline E. Pe", class: "about_staff") %>
				</td>
				<td>
					<p class="staffTitle">
						<strong> 
							Evangeline E. Pe
						</strong>
					</p>
					<p class="staffTitle">
						Operations Manager
					</p>
				</td>
				<td>
				</td>
				<td align="right">
					<p class="staffTitle">
						<strong>
							Diobert F. Calanza
						</strong>
					</p>
					<p class="staffTitle">
						Account Officer 	
					</p>
				</td>
				<td align="right">
					<%= image_tag("diobert.png", :alt => "Diobert F. Calanza", class: "about_staff") %>
				</td>
			</tr>
			<td align="left" valign="middle">
				<%= image_tag("Evelyn.png", :alt => "Evelyn A. Lagmay", class: "about_staff") %>
			</td>
			<td>
				<p class="staffTitle">
					<strong>
						Evelyn A. Lagmay
					</strong>
				</p>
				<p class="staffTitle">
					Finance Manager
				</p>
			</td>
			<td>
			</td>
			<td align="right">
				<p class="staffTitle">
					<strong>
						John M. Jacinto
					</strong>
				</p>
				<p class="staffTitle">
					Account Officer
				</p>
			</td>
			<td align="right">
				<%= image_tag("john.png", :alt => "John M. Jacinto", class: "about_staff") %>
			</td>
		</tr>
		<td align="left" valign="middle">
			<%= image_tag("analyn.png", :alt => "Analyn A. Shih", class: "about_staff") %>
		</td>
		<td>
			<p class="staffTitle">
				<strong>
					Analyn A. Shih
				</strong>
			</p>
			<p class="staffTitle">
				Administrative Officer
			</p>
		</td>
		<td>
		</td>
		<td align="right">
			<p class="staffTitle">
				<strong>
					Adrian P. San Andres
				</strong>
			</p>
			<p class="staffTitle">
				Account Officer
			</p>
		</td>
		<td align="right">
			<%= image_tag("adrian.png", :alt => "Adrian P. San Andres", class: "about_staff") %>
		</td>
		</tr>
		</table>                      
		</div>
	</div>
</div>		
<br />