<br />
<section class="subhead">
	<h4>Other Services</h4>
</section>
<div class="media-body">
<b>KMBA</b> provides two additional services: SICAT (Social Initiative Against Catastrophe) and the Kuya Jun Scholarship Program. Both are available to primary and associate members. <br />
<br />
Through <b>SICAT</b> – a nonstock, nonprofit organization of mutual benefit associations within the network of the RIMANSI Organization for Asia and the Pacific, Inc. – KMBA members can gain access to the post-emergency residential housing assistance (BAHAYnihan) Program. A maximum of PHP2,000 may be given to members of KMBA with totally-damaged residential house following a natural or man-made disaster or catastrophe, including typhoon, flooding, earthquake, volcanic eruption, tsunami, fire, lightning, and acts of terrorism.<br />
<br />
Started in 2007 for students who were in high school, the KMBA scholarship program was subsequently named <b>Kuya Jun Scholarship Program</b>, after KDCI’s first executive director, Severiano C. Marcelo, Jr., who passed away in 2008. The program has since included college students, and is available to children of KMBA primary and associate members. Applicants to the scholarships are required to pass written examinations; those who pass the qualifying marks go through background investigation. To keep their scholarship, high school students should obtain a grade average of 82 while college scholars, a grade average of 2.5 or its equivalent, with no failing marks and two grades of “incomplete.” Scholars who are in high school receive PHP3,000 for tuition fees each school year. Those in college get PHP5,000 each semester.
</div>	    
<br />