<br />
<h3>Products and Services</h3>
<div class="media-body">    
  KMBA currently offers two main products: Basic Life Insurance Plan or BLIP  Credit Life Insurance Plan or CLIP In partnership with Bankers Assurance Corporation, KMBA also offers personal accident insurance with fire assistance or K-Kalinga. As further service to its members, KMBA provides a postemergency residential housing assistance under SICAT (Social Initiative Against Catastrophe), a nonstock, nonprofit organization and a scholarship support to members’ children under the Kuya Jun Scholarship Program.                
</div>
</article>
<article id="Pages" class="media">
<br>
<section class="subhead"><h4>BLIP</h4></section><div class="media-body"><b>Basic Life Insurance Plan</b> is provided to all client-beneficiaries and staff members of Kasagana-Ka Development Center, Inc. as well as to client-beneficiaries of KMBA partner microfinance institutions and other organized community or basic sector groups. Qualified for embership are those between the ages 18 and 60 years. Membership applicants are required to present their birth certificate (if they are single) or marriage contract (if married) as well as birth certificates of unmarried legitimate children below 21 years old and, if not married and without dependent children, marriage contract of dependent parents (above 60 years old). Members contribute PHP20 weekly: PHP15 for insurance premium and PHP5 for the retirement savings fund. KMBA processes benefit claims using a 1-3-5-day target.</div><!-- Button trigger modal -->
<a href="#" data-toggle="modal" data-target="#myModal">View Details...</a>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="myModalLabel">BLIP</h4>
</div>
<div class="modal-body">
<b>Basic Life Insurance Plan (BLIP)</b> is provided to all client-beneficiaries and staff members of Kasagana-Ka Development Center, Inc. as well as to client-beneficiaries of KMBA partner microfinance institutions and other organized community or basic sector groups<br />
<br />
<b>Qualification for K-MBA Membership</b><br />
<ul><li>Client-beneficiary of KDCI</li><li>Staff member of KDCI or KMBA</li><li>Between 18 and 60 years old</li><li>For associate members: Member of an organized community or basic sector and development organizations</li></ul> <b>Documents Required from Membership Applicants</b><br />
<ul><li>Birth certificate, if single</li><li>Marriage contract, if  married</li><li>Birth certificates of unmarried legitimate children below 21 years old</li><li>If not married and without dependent children, marriage contract of dependent parents (above 60 years old)</li><li>Birth certificate, if single</li></ul><b>Amount of Weekly Contribution</b>PHP20 =<br />
<ul><li>PHP15 for insurance premium and</li><li>PHP5 for the retirement savings fund</li></ul><b>Membership Benefits</b><br />
<ul><li><b>Life insurance with total and permanent disability</b>. This benefit is given upon the death (other than suicide) or permanent disability of a member or the legitimate spouse or children below 21 years old</li> <li><b>Motor vehicle accident and hospitalization benefit</b>. This is given for at least 24-hour hospital confinement due to vehicular accident of a member or the legitimate spouse. Total claims during the entire insurance coverage should not exceed PHP10,000 for both the member and the spouse.</li><li><b>Retirement savings fund</b>. The weekly PHP5 contribution, which earns 2 percent annual interest, will be refunded upon termination of membership.</li><li><b>Refund of insurance premium</b>. After three years of uninterrupted membership, a member is entitled to at least 50 percent of the equity value of the total contribution.<br />
</li></ul><b>KMBA's insurance coverage is terminated upon a member's</b><br />
<ul><li>Resignation</li><li>Disqualification</li><li>Retirement</li><li>Death</li><li>Permanent disability</li><li>Failure to remit contribution after the 31-day grace period</li></ul> <b>Contestability Period</b><ul><li style="list-style: none; padding-left: 2px;">On the first year of membership, KMBA will not pay claims on the death or permanent disability of a legitimate spouse or dependent children, if the cause is due to a pre-existing condition.</li></ul>        <%= image_tag("BLIP_table.png", :alt => "BLIP Table", class: "product_service_img") %>      </div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<br /><br /><section class="subhead"><h4>CLIP</h4></section><div class="media-body">The <b>Credit Life Insurance Plan</b> offers to a KMBA partner organization an insurance coverage in which the latter could insure its individual borrowers or debtors for an amount equal to the loan granted, in each particular case up to a maximum of PHP 200,000.</div><!-- Button trigger modal -->
<a href="#" data-toggle="modal" data-target="#myModal1">View Details...</a>

<!-- Modal -->
<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="myModalLabel">CLIP</h4>
</div>
<div class="modal-body">
Under the <b>Credit Life Insurance Plan (CLIP)</b>, KMBA and a partner organization enters into an insurance contract, in which KMBA will issue a Credit Life Insurance Master Policy. The partner organization under this policy may insure its individual borrowers or debtors for an amount equal to the loan granted to them, in each particular case up to a maximum of PHP200,000.<br />
<br />
<b>Eligibility requirements</b>. The loan borrower must be a member of KMBA in order to be eligible for coverage. All new members must be at least 18 years old but not more than 60 years old at the first loan release date while existing members must be at least 18 years old but not more than 65 years old at the loan release date.<br />
<br />
<b>Maximum insurable loan amount for each certificate</b>. The maximum insurable loan amount under CLIP shall not exceed 500 times the daily minimum wage rate of nonagricultural workers in Metro Manila, which is the maximum amount of guaranteed benefits defined in the existing regulatory provisions of microinsurance products. Should there be any amendments to the existing regulatory provision, the maximum insurable loan amount should follow accordingly.<br />
<br />
<b>Maximum premium</b>. The maximum amount of premiums computed on a daily basis shall not exceed 5 percent of the daily minimum wage rate for nonagricultural workers in Metro Manila.<br />
<br />
<b>Benefits</b>. Upon the death or Total and Permanent Disability (TPD) of the Insured DEBTOR, KMBA will pay the loan amount insured during the period of coverage in the following manner:<br />
<br />
<ul><li><p>The amount of benefit should first be applied to the outstanding loan balance of the Insured DEBTOR, excluding interest charges. This amount is payable to the CREDITOR.</p></li><li><p>The remaining balance after deducting from the insured loan amount &mdash;  the amount statedin (1) above &mdash; is payable to the secondary beneficiary or beneficiaries declared in theDebtor's Application for Credit Life Insurance.</p><b>Total and Permanent Disability</b>. Total and permanent disability shall mean disability caused by bodily injury or disease which (1) prevents the member from engaging in any gainful activity, and (2) must continue uninterrupted for at least 6 months. There are two types of TPD coverage:</p></li><ul><li><p><b>Disability with dismemberment</b> - The loss of both arms or both legs, of one arm and one leg, or of both eyes, shall be considered as total and permanent disability. Loss of both arms and both legs shall mean dismemberment by amputation of the entire hand or foot; with respect to eyes, entire and irrecoverable loss of sight.</p></li><li><b>Disability without dismemberment</b> - If a member becomes sick or meets an accident without dismemberment resulting in complete inability to engage in any gainful employment and to become bedridden, he or she can be considered as totally and permanently disabled if after 6 months the health condition has not improved as confirmed by a competent doctor.</li></ul></ul><br />
<b>Primary and Secondary Beneficiaries</b>. In addition to the CREDITOR, who is the primary beneficiary, the secondary beneficiary or beneficiaries under the Master Policy include those declared by the Insured DEBTOR in the Debtor's Application for Credit Life Insurance. The right to change the secondary beneficiary or beneficiaries is reserved to every Insured DEBTOR, who may at any time, designate a new beneficiary. Such request for change must be in writing signed by the Insured DEBTOR and must be submitted to the KMBA main office. When an Insured DEBTOR dies without a designated secondary beneficiary or beneficiaries, the benefits payable thereon shall be awarded to the legal heirs according to existing laws.<br />
<br />
<b>Premiums and Identifiable Charges</b>. Loan borrower or DEBTORS shall be charged an annual premium of PHP14.00 per 1,000 of the original loan amount per year. The amount of premium shall be deducted up front from the loan proceeds. KMBA will review the premium rates on a yearly basis. KMBA reserves the right to change the premium rate at any time it deems appropriate to maintain the funds of the KMBA at a level adequate to meet its benefit obligations or commitments under the plan subject to approval by the Insurance Commission.<br />
<br />
<b>Suicide</b>. KMBA will not be liable in case of suicide by the Insured DEBTOR within 1 year from the effective date of coverage, provided however that suicide while in a state of insanity will be compensable regardless of the date of commission. Whereas suicide is not compensable, KMBA's liability shall be limited to the return of all premiums paid without interest for the account of the Insured DEBTOR.<br />
<br />
<b>Effective Date of Individual Coverage</b>. Credit Life Insurance shall take effect upon the date of loan release by the CREDITOR to the DEBTOR indicated in the loan release form issued by the CREDITOR and the payment of premium. The Insured DEBTOR shall be issued a Certificate of Insurance containing the date of effectivity of coverage, term of coverage, a summary of benefits and excerpts of the Provisions for the DEBTOR upon approval of the application for credit life insurance. An eligible DEBTOR with existing loan as of the effectivity of CLIP shall automatically be covered, provided the fees and dues as herein specified are paid. The term of insurance coverage shall not exceed the term of loan as stated in the loan release form given by the CREDITOR.<br />
<br />
<b>Incontestability</b>. Except for nonpayment of premiums or any grounds recognized by law and jurisprudence, KMBA cannot contest the individual coverage after it has been in force during the lifetime of the insured for 1 year from the Effective Date of Individual Coverage.<br />
<br />
<b>Evidence of Insurability</b>. No medical examination shall be required, only a declaration of good health and insurability. However, KMBA reserves the right to require a DEBTOR to undergo a medical examination if found to be physically impaired through the information obtained by KMBA. The medical examination shall be conducted by a Medical Examiner duly authorized by KMBA. KMBA further reserves the right to decline the DEBTOR's coverage if found uninsurable.<br />
<br />
<b>Termination of Individual Coverage</b>. The insurance coverage shall automatically terminate under the earliest of the following conditions:<br />
<br />
<ul><li>upon the death or TPD of the Insured DEBTOR</li><li>upon the expiration of the term of the loan</li><li>when the Insured DEBTOR reaches age 66</li><li>upon full payment of the loan</li></ul>If the Insured DEBTOR decides to fully pay the outstanding loan balance before the expiration of the term of loan, the unearned portion of the premium net of charges shall be refunded to the Insured DEBTOR.<br />
<br />
Termination of coverage shall be without prejudice to any claim arising prior to such termination.<br />
<br />
<b>Notice and Proof Claim</b>. When an Insured DEBTOR dies or suffered TPD, the CREDITOR shall notify KMBA of such death or TPD, stating the full name and address of the Insured DEBTOR, the cause and date of death or TPD. Notice of claim must be submitted to KMBA within 30 days and proof of claim within 90 days from the date of death or TPD, except when it can be shown that failure to submit the notice and proof within such time is due to valid reasons. Failure to give notice and proof as required will not invalidate or diminish the claim if it is shown not to have been reasonably possible to give such notice or proof and that such was given as soon as it was reasonably possible.<br />
<br />
<b>Claim Settlement</b>. Claim settlement shall be made by KMBA not later than 10 working days upon receipt of complete documents.<br />
<br />
<b>Certificate of Insurance</b>. KMBA will issue to the CREDITOR for delivery to each Insured DEBTOR, a Certificate of Insurance setting forth a summary of the essential features of the insurance coverage and other privileges to which each Insured DEBTOR is entitled. In the event of discrepancy between provisions of such certificate and the Master Policy, the provisions of the latter shall be upheld.<br />
<br />
<b>Nontransferability Clause</b>. The Certificate of Credit Life Insurance coverage is nontransferable.<br />
<br />
<b>Records of the Creditor</b>. The CREDITOR shall make available to KMBA on request any books or records pertaining to the accounts of the Insured DEBTOR. The CREDITOR shall also furnish KMBA with records, data, proofs, or other information which the latter may deem necessary for the proper administration of the Master Policy.<br />
<br />
<b>Termination of Master Policy</b>. The Master Policy shall automatically terminate on the earliest of the following: (1) Date of receipt of a written notice from CREDITOR to terminate the Master Policy; or (2) Date of the KMBA's written notice of termination of the CREDITOR when the number of the DEBTORS falls below the required minimum number.<br />
<br />
<b>Limitation of Complaints</b>. Any complaint or grievance on the Master Policy must be filed with the proper authorities within 2 years from the time of rejection or denial of the claim. The venue for filing of complaints and grievances on the Master Policy must not be limited to the place of issue of the contract.<br />
<br />
<b>Dispute Resolutions</b>. All disputes arising in connection with the Master Policy shall be initially settled through alternative dispute resolution mechanism.              </div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<br /><br /><section class="subhead"><h4>K-Kalinga</h4></section><div class="media-body">Offered in partnership with the Bankers Assurance Corporation, K-Kalinga is a ersonal accident insurance with fire assistance designed specifically also for non-KMBA members. (“Kalinga” is a Pilipino term that can mean embraced, nurturance, or protection.) This product is thus available to KMBA primary and associate members as well as to their relatives and fellow community members who may be in need of insurance coverage.</div><!-- Button trigger modal -->
<a href="#" data-toggle="modal" data-target="#myModal2">View Details...</a>

<!-- Modal -->
<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
<div class="modal-content">
<div class="modal-header">
<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
<h4 class="modal-title" id="myModalLabel">K-Kalinga</h4>
</div>
<div class="modal-body">
<b>K-Kalinga</b> was designed by KMBA and the Bankers Assurance Corporation so that personal accident insurance with fire protection can be offered to a broader public. This product is thus available to KMBA primary and associate members as well as to their relatives and fellow community members who may be in need of insurance coverage. Individuals 18 to 65 years old may avail themselves of this insurance product. <br />
<br />
<b>Amount of Premium</b>. Annual premium is PHP50.00, and available to a maximum of five units per insured individual.<br />
<br />
<b>Benefits</b><br />
<ul><li>Accidental Death - PHP20,000</li><li>Accidental Burial Assistance - PHP 5,000</li><li>Fire Assistance - PHP 5,000</li></ul><b>Claims on Accidental Death</b>. Report to KMBA not later than 30 days after death of insured, and submit the following documents in case of death due to accident:<br />
<ul><li>Original Proof of Cover (POC)</li><li>Registered Death Certificate</li><li>Valid ID of beneficiary</li><li>Other documents that may be required</li></ul><b>Exclusion in Accidental Death</b><br />
<ul><li>By war, invasion, act of foreign enemy, acts of terrorism, hostilities or war-like operations (whether war be declared or not), mutiny, riot, civil commotion, strike, civil war, rebellion, revolution, insurrections, and similar incidents by or under the order of any government or public or local authority</li><li>By any weapon or instrument employing atomic fission, thermonuclear fusion or any form of radiation, whether in time of peace or war</li><li>By intentionally self-inflicted or irresponsible act of the Insured</li><li>By congenital anomalies and conditions arising therefrom</li><li>By medical and surgical treatment except as may be necessary solely as a result of injury</li><li>By pregnancy and resulting childbirth, miscarriage, or abortion</li><li>While under the influence of alcohol or unprescribed drugs</li></ul><b>Claims on Fire</b>. Submit within 30 days a certificate issued by the barangay government attesting that the member-claimant is a resident of the burned house, and containing complete address of the house and cause of fire. The certificate must also be accompanied by a photo of burned house.<br />
<br />
<b>Exclusion in Fire Assistance</b><br />
<ul><li>Arson in own house or the community of the Insured</li><li>Fire occurring within 48 hours after insurance coverage effectivity</li></ul><b>Effectivity Date</b>. K-Kalinga's coverage takes effect 24 hours after payment of POC and for a year thereafter.<br />
<br />
<%= image_tag("K-Kalinga flyer - Front.jpg", :alt => "K-Kalinga flyer - Front", class: "product_service_img") %>      </div>
<div class="modal-footer">
<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
</div>
</div><!-- /.modal-content -->
</div><!-- /.modal-dialog -->
</div><!-- /.modal -->
<br /><br /><section class="subhead"><h4>Other Services</h4></section><div class="media-body"><b>KMBA</b> provides two additional services: SICAT (Social Initiative Against Catastrophe) and the Kuya Jun Scholarship Program. Both are available to primary and associate members. <br />
<br />
Through <b>SICAT</b> – a nonstock, nonprofit organization of mutual benefit associations within the network of the RIMANSI Organization for Asia and the Pacific, Inc. – KMBA members can gain access to the post-emergency residential housing assistance (BAHAYnihan) Program. A maximum of PHP2,000 may be given to members of KMBA with totally-damaged residential house following a natural or man-made disaster or catastrophe, including typhoon, flooding, earthquake, volcanic eruption, tsunami, fire, lightning, and acts of terrorism.<br />
<br />
Started in 2007 for students who were in high school, the KMBA scholarship program was subsequently named <b>Kuya Jun Scholarship Program</b>, after KDCI’s first executive director, Severiano C. Marcelo, Jr., who passed away in 2008. The program has since included college students, and is available to children of KMBA primary and associate members. Applicants to the scholarships are required to pass written examinations; those who pass the qualifying marks go through background investigation. To keep their scholarship, high school students should obtain a grade average of 82 while college scholars, a grade average of 2.5 or its equivalent, with no failing marks and two grades of “incomplete.” Scholars who are in high school receive PHP3,000 for tuition fees each school year. Those in college get PHP5,000 each semester.
</div>
<br />
<br />