<div class="row">
	<div class="col-md-12">
		<div class="noticeofboardmeetingdisclosurecontent">
			<h3><%= @notice_of_board_meeting_disclosure.title %></h3>	
			<p style="font-size: 15px; color:#8b6504; font-style: italic;"><%= image_tag("icon_sandclock.png", :style => "float :left; width: 20px; height: 20px;") %><%= @notice_of_board_meeting_disclosure.published_at.strftime("%B %d, %Y") %></p>	
				<center>
					<%= image_tag @notice_of_board_meeting_disclosure.photo.url, id: "ind_notice_of_board_meeting_disclosure" %>
				</center>				
			<p>
				<%= @notice_of_board_meeting_disclosure.description.html_safe %>
			</p>
		</div>
	</div>
	<div class="col-md-12">
		<section class="subhead">
			<h4>Other Notice of Board Meeting</h4>
		</section>
			<% @notice_of_board_meeting_disclosures.each do |e| %>
			<div class: "noticeofboardmeetingdisclosurecontent">
				<p>
					<ul>
						<li>
							<%= link_to e.title, notice_of_board_meeting_disclosure_path(e.id) %>
						</li>
					</ul>
				</p>		
			</div>
			<% end %>
		<br />
		<br />
	</div>
</div>