<br />
<section class="subhead">
	<h4>Other Disclosures</h4>
</section>
<% @other_disclosures.each do |e| %>
<article id="Pages" class="media">
	<div class="media-body">
		<p>
			<span style="padding-left:15px;">
				<a href=<%= e.file.url %> target="_blank">
					<%= image_tag("pdf2.png", id: "pdf") %><br />&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<b>
					<%= e.file_file_name %>
				</a>
				<% if !e.published_date.nil? %>	
					<p style="font-size: 13px; color:#8b6504; font-style: italic;">&nbsp;
						<%= image_tag("icon_sandclock.png", :style => "float :left; width: 20px; height: 20px;") %><%= e.published_date.strftime("%B %d, %Y") %>
					</p>
				<% end %>
			</span>
			<hr />
		</p>
	</div>
</article>	
<% end %>
<%= paginate @other_disclosures %>
