<br />
<section class="subhead">
	<h4>Photo Galleries</h4>
</section>
<br />
<% @galleries.each do |e| %>
	<div class="row">
		<div class="col-md-12">
			<h3><%= image_tag("gallery.png", id: "pdf") %>&nbsp;&nbsp;&nbsp;<%= e.name %></h3>
			<p style="margin-left: 15px;">
				<%= link_to "View Photos", gallery_path(e.id) %>						
			</p>
			<hr />
		</div>
	</div>
<% end %>	
<%= paginate @galleries %>