<br />
<section class="subhead">
    <h4><%= @gallery.name %></h4>
</section>
<div id="gallery">
	<% @gallery.gallery_photos.each do |e| %>
    <%= link_to image_path(e.photo.url), class: "fancybox", title: "#{e.photo_file_name}", rel: "gallery1", data: { fancybox: "gallery" } do %>
      <%= image_tag e.photo.url, id: "photo_gallery" %>
    <% end %>
	<% end %>
</div>

