/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery-ui
 *= require semantic-ui
 *= require lightbox
 *= require fancybox
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "semantic-ui";
@import "lightbox";
@import "fancybox";

.company_documents{
	width: auto;	
}

#pdf_dl{
	width: 4%;
}

#pdf{
	width: 7%;
}

#map-container {
   height: 295px;
   border-radius: 16px 16px;
   border-color: #fff;
   border-style: solid;
   box-shadow: 2px 2px 10px #B1B1B1;
   margin-top: 25px;
   border-width: 7px;
 }

.amended_by_laws{	
	width: 320px;
	height: 400px;
	padding: 20px 10px 40px 100px;
}

.amended_articles{
	width: 250px;
	height: 400px;
	padding: 20px 10px 40px 30px;
}

.ico{
	width: 27%;
	padding: 10px 6px 10px 6px;
}

.code_of_conducts_photo{	
width: 300px;
height: 400px;
}

.policies_photo{	
width: 300px;
height: 400px;
}

#photo_gallery{
	padding: 15px 15px 15px 15px;
	border-radius: 5px;
	width: 185px;
	height: 180px;
}

.glyphicon {
	}

#accordion.panel-group a{
	margin-left:2px;
	color:#baa35f;
	font-family:'Source Sans Pro',sans-serif;
	font-size:.9em;
}


#accordion.panel-group a:hover{
	 text-decoration: underline;
	 color:#bBB93E;
}

.panel .panel-default{
	backgroud: #FFFFFF;
}


body {
	padding-bottom: 0px;
	color:#5a5a5a;
	background:#faf5f0;
	font-family:'Source Sans Pro',sans-serif;
	font-size:.9em;
	overflow-x:hidden;	
	width: 100%;
}

.wrap{
position: relative;
width: 1366px;
margin-top: 0;
margin-bottom: 0px;
height: 100%;
}

.container{
background-image: image_url('watermark.png');
background-repeat: repeat;
width: 1200px;
}

.container a:hover{
 text-decoration: none;	
}

.content{
	float: left;
	position: relative;
	width: 71%;
	font-size:.9em;

}

.side-bar{
position: relative;
float: left;
width: 25%;
font-size:.5em;
font-family:'Source Sans Pro',sans-serif;
left: 150px;
}



.container-footer{
	font-size: .2 em;
}


.footer {
	background:#a5601b;
	text-align:center;
	width: 100%;
	position: absolute;
	padding: 13px 5px 5px 5px;
}

.header {
	width: 100%;
  height: 300px;
  background-size: 100% 100%;
  background-image: image_url('watermark.png');
	background-repeat: repeat;
}

.foot {
	color:#000;
	font-weight:bold;
	font-size: 1em;
	padding: 5px 5px 5px 5px;
}

.nav {
	font-size:1.4em
}
.nav li {
	color:#baa35f
}
.nav .selected {
	color:#007922;
	font-weight:bold
}

.about_photo{
	width: 100%;
	border-radius: 5px;
}

.product_service_img{
	width: 100%;	
}

.eventfeaturecontent{
	float: left;
	padding: 25px 25px 10px 25px;
}

.noticeofagmdisclosurecontent{
	float: left;
	padding: 25px 25px 10px 25px;
}

.noticeofboardmeetingdisclosurecontent{
	float: left;
	padding: 25px 25px 10px 25px;
}

.index_content{
	float: left;
	padding: 25px 0px 10px 10px;
	width: 100%;

	p{
		text-align: justify;
	}
}

.at_glance{
	float: right;
	padding: 25px 0px 5px 0px;
	font-size: 10px;
}

.claims_payment{
	float: right;
	padding: 5px 0px 5px 0px;
	font-size: 10px;
}


#gallery_photo_img{
	padding: 5px 5px 5px 0px;
	width: 65px;
	height: 65px;
	border-radius: 4px;
}

#ef_img{
	padding: 2px 7px 2px 7px;
	width: 100px;
	height: 80px;
	border-radius: 4px;
}

.event_and_feature_img{
	float: left;
	padding: 5px 5px 5px 5px;
}

.notice_of_agm_disclosure_img{
	float: left;
	padding: 5px 5px 5px 5px;
}

.notice_of_board_meeting_disclosure_img{
	float: left;
	padding: 5px 5px 5px 5px;
}

.membership_container{
	float: right;
	padding: 15px 15px 15px 15px;
}

#kdci_img{
	float: left;
	padding: 0px 10px 5px 0px;
	width: 25%;
}

.index_img{
	float: left;
	padding: 4px 10px 3px 5px;
	width: 25%;
	border-radius: 4px;
}

#kmba_img{
	float: left;
	padding: 0px 10px 5px 0px;
	width: 16%;
}


#ind_event_and_feature{
	width: 100%;
	padding: 5px 15px 5px 15px;
	border-radius: 5px;
}

#ind_notice_of_agm_disclosure{
	width: 100%;
	padding: 5px 15px 5px 15px;
	border-radius: 5px;
}

#ind_notice_of_board_meeting_disclosure{
	width: 100%;
	padding: 5px 15px 5px 15px;
	border-radius: 5px;
}

.layout{
	position: relative;
	width: 66%;
	padding-left: 5px;
}

h1,h2,h3,h4,h5 {
	color:#baa35f
}
br {
	padding-top:1px;
	padding-bottom:1px
}

.affix {
	position:fixed;
	top:5px
}
.affix-top {
	position:static
}
.affix-bottom {
	position:absolute
}
.homepage {
	padding-right:5%
}
.bounderies {
	border-top:0;
	border-bottom:dotted 2px;
	padding-bottom:0;
	margin-bottom:0;
	width:80%;
	color:#baa35f
}
.navbar {
	background:#faf5f0;
	color:#630;
	height:279px;
	padding-bottom:30px;
	margin-bottom:0;
	border:0;
	background-image:url(../../images/header/header_1366.png);
	background-attachment:scroll;
	background-size:100%;
	background-repeat:no-repeat
}
.nav-justified>li>a {
	margin-bottom:0;
	color:#fff;
	text-align:center
}
.nav-justified>li>a:hover {
	margin-bottom:0;
	color:#419c45;
	background:#dbba64;
	text-align:center
}
.navbar-wrapper {
	position:absolute;
	top:0;
	left:0;
	right:0;
	z-index:20
}
.nav-justified>li>a {
	padding-left:0;
	padding-right:0
}
.navbar-wrapper .container {
	padding-left:0;
	padding-right:0
}
.navbar-wrapper .navbar {
	padding-left:5px;
	padding-right:5px
}
.nav {
	font-size:1.4em
}
.nav li a {
	color:#baa35f
}
.nav .selected a {
	color:#007922;
	font-weight:bold
}
.title {
	font-size:1.4em;
	color:#baa35f;
	padding:0
}
.colsPadding {
	padding:0;
	margin:0
}
.carousel {
	height:200px;
	margin-bottom:0
}
.carousel-caption {
	z-index:10
}
.carousel .item {
	height:200px;
	background-color:#777
}
.carousel-inner>.item>img {
	position:absolute;
	top:0;
	left:0;
	min-width:100%;
	height:200px
}
.featurette-divider {
	margin:80px 0
}
.featurette-heading {
	font-weight:300;
	line-height:1;
	letter-spacing:-1px
}
.h {
	height:8px
}
.company_title {
	margin:0;
	padding:0
}
.header_logo {
	margin-top:14%;
	padding:0
}
.subj {
	padding:0
}
.logo img {
	width:184px
}
#companyname {
	font-family:"Century Gothic",CenturyGothic,Geneva,AppleGothic,sans-serif;
	font-weight:bolder;
	margin:0;
	color:black;
	font-size:30px;
	padding-left:9%;
	padding-right:0
}
.companyname {
	top:53%;
	position:absolute;
	width:80%
}
.content {
	padding-left:11%;
	padding-right:11%
}
.secondPage {
	padding-right:3%
}
.staffTitle {
	margin:0
}
#staffColor {
	color:#000
}
.mySubList {
	text-indent:20px;
	font-size:17px
}
@media(max-width:1024px) {
	.navbar {
		height:249px;
		margin-bottom:0;
		border:0;
		background-image:url(../../images/header/header_1024.png);
		background-attachment:scroll;
		background-size:100%;
		background-repeat:no-repeat
	}
	.content {
		padding-left:12%;
		padding-right:12%
	}
	.menu_top {
		margin-top:8px
	}
	.nav li a {
		padding-right:0
	}
	.logo img {
		width:160px
	}
	.header_logo {
		margin-top:30px;
		padding:0
	}
	.companyname {
		top:165px;
		position:absolute;
		width:70%
	}
	#companyname {
		font-size:24px;
		padding-left:13%
	}
	.carousel {
		height:140px;
		margin-bottom:0
	}
	.carousel-caption {
		z-index:10
	}
	.carousel .item {
		height:140px;
		background-color:#777
	}
	.carousel-inner>.item>img {
		position:absolute;
		top:0;
		left:0;
		min-width:100%;
		height:140px
	}
	.maps {
		margin-bottom:50px;
		width:100%;
		height:220px
	}
	.staff_images {
		width:85px;
		height:85px
	}
}
@media(max-width:1152px) and (min-width:1025px) {
	.navbar {
		height:280px;
		margin-bottom:0;
		border:0;
		background-image:url(../../images/header/header_1152.png);
		background-attachment:scroll;
		background-repeat:no-repeat
	}
	.content {
		padding-left:10%;
		padding-right:10%
	}
	.menu_top {
		margin-top:10px
	}
	.nav li a {
		padding-right:0
	}
	.logo img {
		width:168px
	}
	.header_logo {
		margin-top:48px;
		padding:0
	}
	.companyname {
		top:185px;
		position:absolute;
		width:70%
	}
	#companyname {
		font-size:28px;
		padding-left:14%
	}
	.carousel {
		height:145px;
		margin-bottom:0
	}
	.carousel-caption {
		z-index:10
	}
	.carousel .item {
		height:145px
	}
	.carousel-inner>.item>img {
		position:absolute;
		min-width:100%;
		height:145px
	}
	.maps {
		margin-bottom:50px;
		width:100%;
		height:220px
	}
	.staff_images {
		width:95px;
		height:95px
	}
}
@media(max-width:1280px) and (min-width:1153px) {
	.navbar {
		height:320px;
		margin-bottom:0;
		border:0;
		background-image:url(../../images/header/header_1280.png);
		background-attachment:scroll;
		background-repeat:no-repeat
	}
	.content {
		padding-left:14%;
		padding-right:14%
	}
	.nav li a {
		padding-right:0
	}
	.logo img {
		width:184px
	}
	.header_logo {
		margin-top:66px;
		padding:0
	}
	.companyname {
		top:210px;
		position:absolute;
		width:60%
	}
	#companyname {
		font-size:28px;
		padding-left:14%
	}
	.carousel {
		height:16 0;
		margin-bottom:0
	}
	.carousel-caption {
		z-index:10
	}
	.carousel .item {
		height:160px
	}
	.carousel-inner>.item>img {
		position:absolute;
		min-width:100%;
		height:160px
	}
	.maps {
		margin-bottom:50px;
		width:100%;
		height:240px
	}
	.staff_images {
		width:105px;
		height:105px
	}
}
@media(max-width:1366px) and (min-width:1281px) {
	.navbar {
		height:290px;
		margin-bottom:0;
		border:0;
		background-image:url(../../images/header/header_1366.png);
		background-attachment:scroll;
		background-repeat:no-repeat
	}
	.content {
		padding-left:11%;
		padding-right:11%
	}
	.homepage {
		padding-right:3%
	}
	.menu_top {
		margin-top:8px
	}
	.nav li a {
		padding-right:0
	}
	.logo img {
		width:214px
	}
	.header_logo {
		margin-top:20px;
		padding:0
	}
	.companyname {
		top:170px;
		position:absolute;
		width:80%
	}
	#companyname {
		font-size:30px;
		padding-left:11%;
	}
	.carousel {
		height:175px;
		margin-bottom:0
	}
	.carousel-caption {
		z-index:10
	}
	.carousel .item {
		height:175px
	}
	.carousel-inner>.item>img {
		position:absolute;
		min-width:100%;
		height:175px
	}
	.maps {
		margin-bottom:50px;
		width:100%;
		height:280px
	}
	.staff_images {
		width:120px;
		height:120px
	}
}
@media(max-width:1400px) and (min-width:1367px) {
	.navbar {
		height:360px;
		margin-bottom:0;
		border:0;
		background-image:url(../../images/header/header_1366.png);
		background-attachment:scroll;
		background-repeat:no-repeat
	}
	.content {
		padding-left:11%;
		padding-right:11%
	}
	.nav li a {
		padding-right:0
	}
	.logo img {
		width:210px
	}
	.header_logo {
		margin-top:74px;
		padding:0
	}
	.companyname {
		top:235px;
		position:absolute;
		width:70%
	}
	#companyname {
		font-size:30px;
		padding-left:12%
	}
	.carousel {
		height:175px;
		margin-bottom:0
	}
	.carousel-caption {
		z-index:10
	}
	.carousel .item {
		height:175px
	}
	.carousel-inner>.item>img {
		position:absolute;
		min-width:100%;
		height:175px
	}
	.maps {
		margin-bottom:50px;
		width:100%;
		height:280px
	}
	.staff_images {
		width:120px;
		height:120px
	}
}
@media(max-width:1600px) and (min-width:1401px) {
	.navbar {
		height:365px;
		margin-bottom:0;
		border:0;
		background-image:url(../../images/header/header_1152.png);
		background-size:100%;
		background-attachment:scroll;
		background-repeat:no-repeat
	}
	.content {
		padding-left:11%;
		padding-right:11%
	}
	.nav li a {
		padding-right:0
	}
	.logo img {
		width:194px
	}
	.header_logo {
		margin-top:74px;
		padding:0
	}
	.companyname {
		top:225px;
		position:absolute;
		width:70%
	}
	#companyname {
		font-size:30px;
		padding-left:12%
	}
	.carousel {
		height:175px;
		margin-bottom:0
	}
	.carousel-caption {
		z-index:10
	}
	.carousel .item {
		height:175px
	}
	.carousel-inner>.item>img {
		position:absolute;
		min-width:100%;
		height:175px
	}
	.maps {
		margin-bottom:50px;
		width:100%;
		height:280px
	}
	.staff_images {
		width:120px;
		height:120px
	}
	body {
		overflow-x:hidden
	}
}
.uploadifyQueueItem {
	background-color:#f5f5f5;
	border:2px solid #e5e5e5;
	font:11px Verdana,Geneva,sans-serif;
	margin-top:5px;
	padding:10px;
	width:350px
}

.uploadifyError {
	background-color:#fde5dd!important;
	border:2px solid #fbcbbc!important
}
.uploadifyQueueItem .cancel {
	float:right
}
.uploadifyQueue .completed {
	background-color:#e5e5e5
}
.uploadifyProgress {
	background-color:#e5e5e5;
	margin-top:10px;
	width:100%
}
.uploadifyProgressBar {
	background-color:#09f;
	height:3px;
	width:1px
}
#completed {
	background-color:#f5f5f5;
	border:2px solid #e5e5e5;
	font:11px Verdana,Geneva,sans-serif;
	margin-top:5px;
	padding:10px
}
#footer {
	height:60px;
	background:#a5601b;
	text-align:center;
	margin:0;
	margin-top:30px
}
#proverb {
	color:#f7f3e9;
	font-family:'Satisfy',cursive;
	font-size:26px
}
#foot {
	color:#000;
	font-weight:bold
}
.subhead {
	background:#eaf5e6;
	margin-bottom:10px;
	width:100%;
	height:30px
}
.subhead h4 {
	padding-top:3px;
	padding-left:5px;
	color:#8b6504;
	font-size:21px;
	border-radius:5px
}
.header_menu a {
	color:#000
}
.gensTitle {
	margin-top:7px
}
#mainBoxWrappers {
	width:100%;
	margin:0 auto
}


.active-members{
	padding: 10px 0px 10px 0px;
	margin-left: 25px;
}

.claims-summary{
	padding: 10px 0px 10px 0px;
	margin-left: 25px;
}

.other-claims-summary{
	padding: 10px 0px 10px 0px;
	margin-left: 25px;
}

.k-kalinga{
	padding: 10px 0px 10px 0px;
	margin-left: 25px;
}

.sicat{
	padding: 10px 0px 10px 0px;
	margin-right: 25px;
}

.content-wrapper{
	width: 830px;
	float: right;
	position: relative;
}

.sidebar{
	width: 300px;
	float: left;
	position: relative;
}
