<br />
<section class="subhead">
	<h4>Organization</h4>
</section>
<div class="row">
	<div class="col-md-12">	
		<div class="media-body">
		KMBA has a nine-person Board of Trustees composed of seven member-representatives from its various areas of coverage, and two (2) independent members. KMBA’s General Manager sits as ex officio member of the Board. The member-representatives to the Board are elected annually from among the area coordinators, who are themselves elected from among the chiefs of the centers in each KCOOP Satellite Offices. (As of 2022, KMBA had 18 area coordinators from among KCOOP’s 31 Satellite Offices. A KMBA coordinator is elected in Satellite Offices with more than 850 active members; KMBA’s account officers serve as coordinators in the rest of the Satellite Offices

		With the exception of the independent member, the members of the Board elect from among themselves KMBA’s President, Vice President, treasurer, and secretary. .<br />
		<br />
		KMBA also has a four-person Board of Advisers composed of the President and General Manager of KCOOP, two members of KCOOP who are also members of its Board of Trustees, and the KMBA president who had ended a preceding term. <br />
		</div>	    
		<br />
		<div class="media-body">
		<% if !@kmba_board_of_trustees.nil? %>
			<h4><%= @kmba_board_of_trustees.title %></h4>
			<%= @kmba_board_of_trustees.description.html_safe %>
			<%= image_tag @kmba_board_of_trustees.photo.url, class: "about_photo"%>
			<br />
			<br />
		<% end %>
		
		<% if !@kmba_board_of_advisers.nil? %>
		<h4><%= @kmba_board_of_advisers.title %></h4>
		<%= @kmba_board_of_advisers.description.html_safe %>
		<%= image_tag @kmba_board_of_advisers.photo.url, class: "about_photo"%>
		<br />
		<br />
		<% end %>

		<% if !@kmba_coordinators.nil? %>
		<h4><%= @kmba_coordinators.title  %></h4>
			<%= @kmba_coordinators.description.html_safe %>
			<%= image_tag @kmba_coordinators.photo.url, class: "about_photo"%>
		<br />
		<br />
		<br />
		<% end %>

		<h4>KMBA Staff</h4>
		<br />
			<table width=100% border=0 cellspacing=0 cellpadding=0>
				<tr>
					<td>
					</td>
					<td align="center" colspan=3>
						<%= image_tag("Silvida.jpg", :alt => "Silvida Reyes-Antiquera", class: "about_staff", :style => "max-width: 160px; max-height: 160px; border:1px solid black;") %>
						<p class="staffTitle gensTitle">
							<strong>
								Silvida Reyes-Antiquera
							</strong>
						</p>
						<p class="staffTitle">
							General Manager
						</p>
						<br />
					</td>
					<td>
					</td>
				</tr>
				<tr>
					<td align="left" valign="middle">
						<%= image_tag("eve.jpg", :alt => "Evelyn A. Lagmay", class: "about_staff",  :style => "max-width: 160px; max-height: 160px; border:1px solid black;") %>
					</td>
					<td>
						<p class="staffTitle">
							<strong>
								Evelyn A. Lagmay
							</strong>
						</p>
						<p class="staffTitle">
							Finance Manager
						</p>
					</td>
					<td>
					</td>
					<td align="right">
						<p class="staffTitle">
							<strong>
								Diobert F. Calanza
							</strong>
						</p>
						<p class="staffTitle">
							Account Officer (Marketing) 	
						</p>
					</td>
					<td align="right">
						<%= image_tag("bert.jpg", :alt => "Diobert F. Calanza", class: "about_staff",  :style => "max-width: 160px; max-height: 160px; border:1px solid black;") %>
					</td>
				</tr>
				<tr>
					<td align="left" valign="middle">
						<%= image_tag("annalyn.jpg", :alt => "Analyn A. Shih", class: "about_staff",  :style => "max-width: 160px; max-height: 160px; border:1px solid black;") %>
					</td>
					<td>
						<p class="staffTitle">
							<strong>
								Analyn A. Shih
							</strong>
						</p>
						<p class="staffTitle">
							Administrative Officer
						</p>
					</td>
					<td>
					</td>
					<td align="right">
						<p class="staffTitle">
							<strong>
								Adrian P. San Andres
							</strong>
						</p>
						<p class="staffTitle">
							Account Officer (Underwriter)
						</p>
					</td>
					<td align="right">
						<%= image_tag("ian.jpg", :alt => "Adrian P. San Andres", class: "about_staff",  :style => "max-width: 160px; max-height: 160px; border:1px solid black;") %>
					</td>
				</tr>
				<tr>
					<td align="left" valign="middle">
						<%= image_tag("gibo.jpg", :alt => "Gilbert Razonable", class: "about_staff",  :style => "max-width: 160px; max-height: 160px; border:1px solid black;") %>
					</td>
					<td>
						<p class="staffTitle">
							<strong>
								Gilbert Razonable
							</strong>
						</p>
						<p class="staffTitle">
							Accounting Officer
						</p>
					</td>
					<td>
					</td>
					<td align="right">
						<p class="staffTitle">
							<strong>
								Mcquen R. Abellano
							</strong>
						</p>
						<p class="staffTitle">
							Account Officer (Underwriter)
						</p>
					</td>
					<td align="right">
						<%= image_tag("mac.jpg", :alt => "Mcquen R. Abellano", class: "about_staff",  :style => "max-width: 160px; max-height: 160px; border:1px solid black;") %>
					</td>
				</tr>
				<tr>
					<td align="left" valign="middle">
						<%= image_tag("aljon1.jpg", :alt => "Aljon L. Laureano", class: "about_staff",  :style => "max-width: 160px; max-height: 160px; border:1px solid black;") %>
					</td>
					<td>
						<p class="staffTitle">
							<strong>
								Kaiser D. Velilia
							</strong>
						</p>
						<p class="staffTitle">
							MIS Officer
						</p>
					</td>
					<td>
					</td>
					<td align="right">
						<p class="staffTitle">
							<strong>
								Richard L. Monteron
							</strong>
						</p>
						<p class="staffTitle">
							Account Officer (Claims)
						</p>
					</td>
					<td align="right">
						<%= image_tag("chard.jpg", :alt => "Richard L. Monteron", class: "about_staff",  :style => "max-width: 160px; max-height: 160px; border:1px solid black;") %>
					</td>
				</tr>
				<tr>
					<td align="left" valign="middle">
					</td>
					<td>
					</td>
					<td>
					</td>
					<td align="right">
						<p class="staffTitle">
							<strong>
								Jake C. Villanueva
							</strong>
						</p>
						<p class="staffTitle">
							Account Officer (Claims)
						</p>
					</td>
					<td align="right">
						<%= image_tag("jake.jpg", :alt => "Jake C. Villanueva", class: "about_staff",  :style => "max-width: 160px; max-height: 160px; border:1px solid black;") %>
					</td>
				</tr>
			</table>                      
		</div>
	</div>
</div>		
<br />