<!DOCTYPE html>
<html>
<head>
  <title>KASAGANA-KA MUTUAL BENEFIT ASSOCIATION</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag 'lightbox.min.js', media: 'all' %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'kmba.ico' %>
</head>
<body>
	<div class="wrapper">
		<div class="header">	
				<%= image_tag("header.png", :alt => "header photo", :style => "width: 100%; height: 280px;") %>
			</div>
		<div class="container">
		
			<div class="sidebar">	 	
				<%= render partial: "shared/sidebar" %>
			</div>				
			
			<div class="content-wrapper">
				<%= yield %>				
			</div>			
		</div>	
	</div>
	<footer>
		<div class="footer">
			<%= render partial: "shared/footer" %>
		</div>
	</footer>
</body>
</html>
